<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("project/resources")
#load_core_resources
#if( $current )
	#set( $title = "project.title.modify_dataset" )
	#set( $submit = "modify" )
	#set( $target_csv = "${it.uri}/csvmodify" )
	#set( $target_rdf = "${it.uri}/rdfmodify" )
	#set( $target_db = "${it.uri}/dbmodify" )
	#set( $target_sparql = "${it.uri}/sparqlmodify" )
	#set( $target_xml = "${it.uri}/xmlmodify" )
	#set( $target_shp = "${it.uri}/shpmodify" )
	#set( $target_gml = "${it.uri}/gmlmodify" )
#else
	#set( $title = "project.title.add_dataset" )
	#set( $submit = "create" )
	#set( $target_csv = "${it.uri}/csvupload" )
	#set( $target_rdf = "${it.uri}/rdfupload" )
	#set( $target_db = "${it.uri}/dbupload" )
	#set( $target_sparql = "${it.uri}/sparqlupload")
	#set( $target_xml = "${it.uri}/xmlupload" )
	#set( $target_shp = "${it.uri}/shpupload" )
	#set( $target_gml = "${it.uri}/gmlupload" )
#end
	<title>#i18n($title) - #i18n("workspace.title") - DataLift</title>
#css_links
</head>
<body>
#banner

<div id="content" class="ui-widget-content dl-main-panel">
<h3 class="ui-widget-header dl-widget-header">#i18n($title) - #i18n("project") $esc.html($it.title)</h3>
<div class="dl-panel">
<a href="${it.uri}#source">#i18n("back")</a>

<div id="accordion">

	<h3><a href="#">CSV</a></h3>
	<div>
#if( (!$current) || ($current.getType() == $field.CsvSource) )
	<form method="post" action="$target_csv" enctype="multipart/form-data" class="form_formated">
#if( !$current )
		<p><label for="file">#i18n("project.source.csv.upload"): </label>
		<input type="file" name="source" size="64"/><br />
		<label for="file_url">#i18n("project.upload_source.file_url"): </label>
		<input type="text" id="file_url" name="file_url"/></p>
#else
		<input type="hidden" name="current_source" value="$current.uri"/>
		<p>#i18n("project.source.csv.update"): <a href="$current.uri">$esc.html($current.title)</a></p>
#end
		<p><label for="description">#i18n("project.upload_source.description"): </label>
		<input type="text" id="description" name="description" value="$!esc.html($current.description)"/></p>
		<p><label for="charset">#i18n("project.upload_source.charset"): </label>
		<select id="charset" name="charset">
#foreach( $s in $charsets )
#if( ($foreach.count == 1 && !$current) || $s.equals($current.encoding) )
			<option value="$s" selected="true">$esc.html($s)</option>
#else
			<option value="$s">$esc.html($s)</option>
#end
#end
		</select></p>
		<p><label for="separator">#i18n("project.source.csv.separator"): </label>
		<select id="separator" name="separator">
#foreach( $s in $sep )
#set( $label = "csv.source.${s.name()}.separator" )
#if( ($foreach.count == 1 && !$current) || $current.getSeparator().equals($s.toString()) )
			<option value="$esc.html($s.name())" selected="true">#i18n($label)</option>
#else
			<option value="$esc.html($s.name())">#i18n($label)</option>
#end
#end
		</select></p>
		<p><label for="title_row">#i18n("project.source.csv.title_row"): </label>
		<input type="text" id="title_row" name="title_row" value="#if( $current && $current.hasTitleRow() == true )$!esc.html($current.titleRow)#end" /></p>
		<p><label for="first_row">#i18n("project.source.csv.first_row"): </label>
		<input type="text" id="first_row" name="first_row" value="#if( $current && $current.firstDataRow > 0 )$!esc.html($current.firstDataRow)#end" /></p>
		<p><label for="last_row">#i18n("project.source.csv.last_row"): </label>
		<input type="text" id="last_row" name="last_row" value="#if( $current && $current.lastDataRow > 0 )$!esc.html($current.lastDataRow)#end" /></p>
		<p><label for="quote">#i18n("project.source.csv.quote"): </label>
		<input type="text" id="quote" name="quote" title="#i18n('project.source.csv.quote.help')" value='$!esc.html($current.quote)'/></p>
		<input type="submit" value="#i18n("$submit")"/>
	</form>
#end
	</div>

	<h3><a href="#">RDF</a></h3>
	<div>
#if( (!$current) || ($current.getType() == $field.RdfFileSource) )
	<form method="post" action="$target_rdf" enctype="multipart/form-data" class="form_formated">
#if( !$current )
		<p><label for="file">#i18n("project.upload_rdf"): </label>
		<input type="file" name="source" size="64"/><br />
		<label for="file_url">#i18n("project.upload_source.file_url"): </label>
		<input type="text" id="file_url" name="file_url"/></p>
#else
		<input type="hidden" id="current_source" name="current_source" value="$current.uri"/>
		<p>#i18n("project.update_rdf"): <a href="$current.uri">$esc.html($current.title)</a></p>
#end
		<p><label for="description">#i18n("project.upload_source.description"): </label>
		<input type="text" id="description" name="description" value="$!esc.html($current.description)"/></p>
		<p><label for="mime_type">#i18n("project.upload_rdf_format"): </label>
		<select id="mime_type" name="mime_type">
#foreach( $f in $rdfFormats )
			<option id="${f.fileExtension}" value="${f.mimeType}"#if( $current.mimeType.equals($f.mimeType.toString()) ) selected="true"#end>$esc.html($f.name)</option>
#end
		</select></p>
		<p><label for="base_uri">#i18n("project.upload_source.base_uri"): </label>
		<input type="text" id="base_uri" name="base_uri" value="$!esc.html($current.sourceUrl)"/></p>
		<input type="submit" value="#i18n("$submit")"/>
	</form>
#end
	</div>

	<h3><a href="#">#i18n("project.upload_db.title")</a></h3>
	<div>
#if( (!$current) || ($current.getType() == $field.SqlSource) )
	<form method="post" action="$target_db" class="form_formated">
#if( $current )
		<input type="hidden" id="current_source" name="current_source" value="$current.uri"/>
		<p>#i18n("project.update_db"): <a href="$current.uri">$esc.html($current.title)</a></p>
#end
		<p><label for="title">#i18n("project.upload_source.name"): </label>
		<input type="text" id="title" name="title" value="$!esc.html($current.title)"/></p>
		<p><label for="description">#i18n("project.upload_source.description"): </label>
		<input type="text" id="description" name="description" value="$!esc.html($current.description)"/></p>
		<p><label for="source_url">#i18n("project.upload_db.source_url"): </label>
		<input type="text" name="source_url" id="source_url" value="$!esc.html($current.connectionUrl)"/></p>
		<p><label for="user">#i18n("project.upload_source.user"): </label>
		<input type="text" id="user" name="user" value="$!esc.html($current.user)"/></p>
		<p><label for="password">#i18n("project.upload_source.password"): </label>
		<input type="password" name="password" id="password" value="$!esc.html($current.password)"/></p>
		<p><label for="sql_query">#i18n("project.upload_db.query"): </label>
		<textarea id="sql_query" name="sql_query">$!esc.html($current.query)</textarea></p>
		<p><label for="cache_duration">#i18n("project.upload_source.cache_duration"): </label></p>
		<p><input type="text" id="cache_duration" name="cache_duration" value="$!esc.html($current.cacheDuration)"/></p>
		<input type="submit" value="#i18n("$submit")"/>
	</form>
#end
	</div>

	<h3><a href="#">SPARQL</a></h3>
	<div>
#if( (!$current) || ($current.getType() == $field.SparqlSource) )
	<form method="post" action="$target_sparql" class="form_formated">
#if( $current )
		<input type="hidden" id="current_source" name="current_source" value="$current.uri"/>
		<p>#i18n("project.update_sparql"): <a href="$current.uri">$esc.html($current.title)</a></p>
#end
		<p><label for="title">#i18n("project.upload_source.name"): </label>
		<input type="text" id="title" name="title" value="$!esc.html($current.title)"/></p>
		<p><label for="description">#i18n("project.upload_source.description"): </label>
		<input type="text" id="description" name="description" value="$!esc.html($current.description)"/></p>
		<p><label for="connection_url">#i18n("project.upload_sparql.connection_url"): </label>
		<input type="text" id="connection_url" name="connection_url" value="$!esc.html($current.endpointUrl)"/></p>
		<p><label for="default_graph_uri">#i18n("project.upload_sparql.default_graph_uri"): </label>
		<input type="text" id="default_graph_uri" name="default_graph_uri" value="$!esc.html($current.defaultGraphUri)"/></p>
		<p><label for="sparql_query">#i18n("project.upload_sparql.query"):</label>
		<textarea id="sparql_query" name="sparql_query">$!esc.html($current.query)</textarea></p>

		<fieldset class="ui-widget ui-widget-content">
			<legend>#i18n("project.upload_source.authentication")</legend>
			<p><label for="user">#i18n("project.upload_source.user"): </label>
			<input type="text" id="user" name="user" value="$!esc.html($current.user)"/></p>
			<p><label for="password">#i18n("project.upload_source.password"): </label>
			<input type="password" name="password" id="password" value="$!esc.html($current.password)"/></p>
		</fieldset>
		<p><label for="cache_duration">#i18n("project.upload_source.cache_duration"): </label>
		<input type="text" id="cache_duration" name="cache_duration" value="$!esc.html($current.cacheDuration)"/></p>
		<input type="submit" value="#i18n("$submit")"/>
	</form>
#end
	</div>
	<h3><a href="#">XML</a></h3>
	<div>
#if( (!$current) || ($current.getType() == $field.XmlSource) )
	<form method="post" action="$target_xml" enctype="multipart/form-data" class="form_formated">
#if( !$current )
		<p><label for="file">#i18n("project.upload_xml"): </label>
		<input type="file" name="source" size="64"/><br />
		<label for="file_url">#i18n("project.upload_source.file_url"): </label>
		<input type="text" id="file_url" name="file_url"/></p>
#else
		<input type="hidden" name="current_source" value="$current.uri"/>
		<p>#i18n("project.update_xml"): <a href="$current.uri">$esc.html($current.title)</a></p>
#end
		<p><label for="description">#i18n("project.upload_source.description"): </label>
		<input type="text" id="description" name="description" value="$!esc.html($current.description)"/></p>
		<input type="submit" value="#i18n("$submit")"/>
	</form>
#end
	</div>
	<h3><a href="#">Shapefile</a></h3>
	<div>
#if( (!$current) || ($current.getType() == $field.ShpSource) )
	<form method="post" action="$target_shp" enctype="multipart/form-data" class="form_formated">
#if( !$current )
		<p><label for="file">#i18n("project.upload_shp"): </label>
		<input type="file" name="source1" size="64"/><br />
		<p><label for="file">#i18n("project.upload_prj"): </label>
		<input type="file" name="source2" size="64"/><br />
		<p><label for="file">#i18n("project.upload_shx"): </label>
		<input type="file" name="source3" size="64"/><br />
		<p><label for="file">#i18n("project.upload_dbf"): </label>
		<input type="file" name="source4" size="64"/><br />
#else
		<input type="hidden" name="current_source" value="$current.uri"/>
		<p>#i18n("project.update_shp"): <a href="$current.uri">$esc.html($current.title)</a></p>
#end
		<p><label for="description">#i18n("project.upload_source.description"): </label>
		<input type="text" id="description" name="description" value="$!esc.html($current.description)"/></p>
		</select></p>
		<input type="submit" value="#i18n("$submit")"/>
	</form>
#end
	</div>
	<h3><a href="#">GML</a></h3>
	<div>
#if( (!$current) || ($current.getType() == $field.GmlSource) )
	<form method="post" action="$target_gml" enctype="multipart/form-data" class="form_formated">
#if( !$current )
		<p><label for="file">#i18n("project.upload_gml"): </label>
		<input type="file" name="source1" size="64"/><br />
		<p><label for="file">#i18n("project.upload_xsd"): </label>
		<input type="file" name="source2" size="64"/><br />
#else
		<input type="hidden" name="current_source" value="$current.uri"/>
		<p>#i18n("project.update_gml"): <a href="$current.uri">$esc.html($current.title)</a></p>
#end
		<p><label for="description">#i18n("project.upload_source.description"): </label>
		<input type="text" id="description" name="description" value="$!esc.html($current.description)"/></p>
		</select></p>
		<input type="submit" value="#i18n("$submit")"/>
	</form>
#end
	</div>
</div>
</div>
</div>
#footer

#script_links
<script type="text/javascript">
	$(function() {
		$("input:submit").button();
		$("#accordion").accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true,
#if( $current )
			event: ""
#else
			active: false
#end
		});

		/* Selection of the right panel */
#if( $current )
		var select_panel = 0;
	#if( $current.getType() == $field.CsvSource )
		select_panel = 0;
	#elseif( $current.getType() == $field.RdfFileSource )
		select_panel = 1;
	#elseif( $current.getType() == $field.SqlSource )
		select_panel = 2;
	#elseif( $current.getType() == $field.SparqlSource )
		select_panel = 3;
	#elseif( $current.getType() == $field.XmlSource )
		select_panel = 4;
	#elseif( $current.getType() == $field.ShpSource )
		select_panel = 5;
	#elseif( $current.getType() == $field.GmlSource )
		select_panel = 6;	
	#end
		if (select_panel != 0) {
			$("#accordion").accordion("option", "active", select_panel);
		}
		$("#accordion h3").click(function() {
			var idx = $("#accordion h3").index(this);
			if (idx == select_panel) {
				$("#accordion").accordion("activate", idx);
			}
		});
#end
	});
</script>
</body>
</html>
