<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("workspace/resources")
#load_core_resources
#if( $current )
	#set( $title  = "project.title.modify_dataset" )
	#set( $submit = "modify" )
	#set( $target_csv = "${it.uri}/csvuploadModify" )
	#set( $target_rdf = "${it.uri}/rdfuploadModify" )
	#set( $target_db = "${it.uri}/dbuploadModify" )
#else
	#set( $title = "project.title.add_dataset" )
	#set( $submit = "create" )
	#set( $target_csv = "${it.uri}/csvupload" )
	#set( $target_rdf = "${it.uri}/rdfupload" )
	#set( $target_db = "${it.uri}/dbupload" )
#end
	<title>#i18n($title) - #i18n("workspace.title") - DataLift</title>
#header_links
</head>
<body>
<script>
	$(function() {
		$("input:submit").button();
		$("#accordion").accordion({
			autoHeight: false,
			navigation: true,
			collapsible:true,
			#if($current)
			event: ""
			#end
		});

		/** 	Selection of the right panel	**/
		#if($current)
			var select_panel = 0;
			#if($current.getType() == $field.CSVSource)
			 	select_panel = 0;
			#elseif($current.getType() == $field.RdfSource)
				select_panel = 1;
			#elseif($current.getType() == $field.DbSource)
			 	select_panel = 2;
			#end

			if(select_panel != 0) {
		 	 	$("#accordion").accordion("option", "active", select_panel);
			}
			$("#accordion h3").click(function() {
				var idx = $("#accordion h3").index(this);
			if (idx == select_panel) {
				$("#accordion").accordion("activate", idx);
			}
			});
		#end
	});
</script>

#banner

<div id="content" class="ui-widget-content dl-main-panel">
<h3 class="ui-widget-header dl-widget-header">#i18n($title)</h3>
<div class="dl-panel">
<a href="${it.uri}#source">#i18n("back")</a>

<div id="accordion">

	<h3><a href="#">CSV</a></h3>
	<div>
	<form method="post" action="$target_csv" enctype="multipart/form-data" class="form_formated">
#if(!$current)
		<p>#i18n("project.upload_csv") $esc.html($it.getTitle())</p>
		<p><input type="file" name="source" size="64"/></p>
#else
		<input type="hidden" name="current_source" value="$current.uri"/>
#end
		<p><label for="title_row">#i18n("project.upload_csv_activate"): </label>
#if($current && $current.hasTitleRow() == true)
		<input type="checkbox" id="title_row" name="title_row" checked="on"/></p>
#else
		<input type="checkbox" id="title_row" name="title_row"/></p>
#end
		
		<p><label for="separator">#i18n("project.upload_csv_separator"): </label>
		<select id="separator" name="separator">
#foreach($s in $sep)
#set( $label = "csv.source.${s.name()}.separator" )
#if(($foreach.count == 1 && !$current) || $current.getSeparator().equals($s.toString()))
				<option value="$esc.html($s.name())" selected="true">#i18n($label)</option>
#else
				<option value="$esc.html($s.name())">#i18n($label)</option>
#end
#end
		</select></p>
		<p><input type="submit" value="#i18n("$submit")"/></p>
	</form>
	</div>

	<h3><a href="#">RDF</a></h3>
	<div>
	<form method="post" action="$target_rdf" enctype="multipart/form-data" class="form_formated">
#if (!$current)
		<p>#i18n("project.upload_rdf") $esc.html($it.getTitle())</p>
		<p><input type="file" name="source" size="64"/></p>
#else
		<input type="hidden" id="current_source" name="current_source" value="$current.uri"/>
#end

		<p><label for="mime_type">#i18n("project.upload_rdf_format"): </label>
		<select id="mime_type" name="mime_type">
			<option id="rdfxml"	value="application/rdf+xml" #if($current.getMimeType().equals("application/rdf+xml")) selected="true" #end>RDF/XML</option>
			<option id="ntriple"	value="application/n-triples" #if($current.getMimeType().equals("application/n-triples")) selected="true" #end>NTriples</option>
			<option id="turtle"	value="text/turtle" #if($current.getMimeType().equals("text/turtle")) selected="true" #end>Turtle</option>
			<option id="n3"		value="text/n3" #if($current.getMimeType().equals("text/n3")) selected="true" #end>N3</option>
			<option id="trig"	value="application/x-trig" #if($current.getMimeType().equals("application/x-trig")) selected="true" #end>TriG</option>
			<option id="trix"	value="application/trix" #if($current.getMimeType().equals("application/trix")) selected="true" #end>TriX</option>
		</select></p>
		<p><input type="submit" value="#i18n("$submit")"/></p>
	</form>
	</div>

	<h3><a href="#">#i18n("project.upload_db.title")</a></h3>
	<div>
	<form method="post" action="$target_db" class="form_formated">
		<input type="hidden" id="current_source" name="current_source" value="$current.uri"/>
		<p><label for="title">#i18n("project.upload_db.source_name"): </label>
		<input type="text" id="title" name="title" value="$!esc.html($current.title)"/></p>
		<p><label for="source_url">#i18n("project.upload_db.source_url"): </label>
		<input type="text" name="source_url" id="source_url" value="$!esc.html($current.connectionUrl)"/></p>
		<p><label for="user">#i18n("project.upload_db.user"): </label>
		<input type="text" id="user" name="user" value="$!esc.html($current.user)"/></p>
		<p><label for="password">#i18n("project.upload_db.password"): </label>
		<input type="password" name="password" id="password" value="$!esc.html($current.password)"/></p>
		<p><label for="database">#i18n("project.upload_db.db"): </label>
		<input type="text" name="database" id="database" value="$!esc.html($current.database)"/></p>
		<p><label for="request">#i18n("project.upload_db.request"): </label>
		<input type="text" id="request" name="request" value="$!esc.html($current.request)"/></p>
		<p><label for="cache_duration">#i18n("project.upload_db.cache_duration"): </label></p>
		<p><input type="text" id="cache_duration" name="cache_duration" value="$!esc.html($current.cacheDuration)"/></p>
		<p><input type="submit" value="#i18n("$submit")"/></p>
	</form>
	</div>
</div>
</div>
</div>
#footer
</body>
</html>
