<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("project/resources")
#load_core_resources
	<title>$!esc.html($it.title) - #i18n("source.grid.title") - DataLift</title>
#css_links
</head>
<body>
#banner
	<div id="main-menu" style="position:absolute;top:15px;right:15px;">
#foreach( $m in $mainMenu )
#set( $entryUrl = $m.getUrl(${baseUri}) )
#if( $m.method.name() == "GET" )
		<a href="${entryUrl}" class="button">${m.label}</a>
#else
		<form method="post" action="${entryUrl}"><input type="submit" class="button" value="${m.label}"/></form>
#end
#end
	</div>
	<div id="content" class="ui-widget-content dl-main-panel">
		<h3 id = "title_bar" class="ui-widget-header dl-widget-header"></h3>
		<div id="results" class="dl-result-panel">
			<table id="grid">
			</table>
			<div id="pagernav"></div>
			<div id="searchnav" style="display:none">
				#i18n("grid.search.value.label") <input type="search" id="gridsearch" placeholder="#i18n("grid.search.value.placeholder")" results="0" class="gridsearch" />
				#i18n("grid.search.column.label") <select id="searchColumn">
					<option value="all">#i18n("grid.search.column.option.all")</option>
					<option>#i18n("sparql.subject")</option>
					<option>#i18n("sparql.predicate")</option>
					<option>#i18n("sparql.object")</option>
				</select>
			</div>
		</div>
	</div>
#footer
#script_links
<script language="javascript" src="${baseUri}/project/static/js/jqgrid.common.js"></script>
<script type="text/javascript">
		$(function() {
			$("#main-menu .button").button();

#set( $maxEntries = 1000 )
	var tableContent = [
#foreach( $triple in $it )
  #if( $foreach.count > $maxEntries ) 
  	#break 
  #end
  #if( $foreach.count > 1 )
	,
  #end
  #set($subject = "${esc.q}#i18n('sparql.subject')${esc.q}:${esc.q}$triple.subject${esc.q}")
  #set($predicate = "${esc.q}#i18n('sparql.predicate')${esc.q}:${esc.q}$triple.predicate${esc.q}")
  #set($object = "${esc.q}#i18n('sparql.object')${esc.q}:${esc.q}$esc.html($triple.object)${esc.q}")
  {$subject,$predicate,$object}
#end
	];
	//Prepare the title
	var columns = ["#i18n('sparql.subject')", "#i18n('sparql.predicate')", "#i18n('sparql.object')"];
	var basicGridParam = getBasicTableParameters();
	var rdfGridParams = {
		colNames: columns,
		data: tableContent,
		datatype: "local",
		colModel: [{name: "#i18n('sparql.subject')", formatter: 'link', formatoptions: {target: ''}},
					{name: "#i18n('sparql.predicate')", formatter: 'link', formatoptions: {target: ''}},
					{name: "#i18n('sparql.object')", formatter: optionalLinkFormatter}]
	}

	var gridParam = jQuery.extend(rdfGridParams,basicGridParam);
	//Fill the table	
	$("#grid").jqGrid(gridParam);

	//Show source name
	var rowNumber = tableContent.length;
	var sourceDescr = "#i18n("source.grid.desc") $!esc.html($it.title) ";
	if (rowNumber < $maxEntries) {
		sourceDescr = sourceDescr.concat("(" + rowNumber + " #i18n("source.grid.entries"))");
	}else{ 
		sourceDescr = sourceDescr.concat("($maxEntries #i18n("source.grid.displayed_entries"))");
	}
	$("#title_bar").text(sourceDescr);
	enableTable($("#grid"));
});


</script>
</body>
</html>
