<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("project/resources")
#load_core_resources
	<title>$!esc.html($it.title) - #i18n("source.grid.title") - DataLift</title>
#css_links
</head>
<body>
#banner
	<div style="position:absolute;top:15px;right:15px;">
		<a href="${baseUri}/sparql" id="goto_sparql" class="button">#i18n("sparql.endpoint.link")</a>
		<a href="${baseUri}/project" id="goto_workspace" class="button">#i18n("project.workspace.link")</a>
	</div>

#set( $maxEntries = 5000 )
#set ( $rowCSV = 0 )
	<h3 id="title_bar">#i18n("source.grid.desc") $!esc.html($it.title) ($maxEntries #i18n("source.grid.displayed_entries"))</h3>
	<table id="grid">
		<thead>
			<tr>
				<th>#i18n("source.grid.row.heading")</th>
#foreach( $i in $it.getColumnNames() )
				<th class="dl-grid-header-column">$esc.html($i)</th>
#end
			</tr>
		</thead>
		<tbody>
#foreach( $row in $it )
  #if( $foreach.count > $maxEntries ) #break #end
			<tr><td>$velocityCount</td>
  #foreach( $i in $row ) <td>$!esc.html($i)</td> #end
			</tr>
  #set ( $rowCSV = $rowCSV + 1)
#end
		</tbody>
	</table>
	<div id="pagernav"></div>
	<div id="searchnav" style="display:none">
		#i18n("grid.search.value.label") <input type="search" id="gridsearch" placeholder="#i18n("grid.search.value.placeholder")" results="0" class="gridsearch"/>
		#i18n("grid.search.column.label") <select id="searchColumn">
			<option value="all">#i18n("grid.search.column.option.all")</option>
#foreach( $i in $it.getColumnNames() )
			<option>$esc.html($i)</option>
#end
		</select>
	</div>
#script_links
	<script language="javascript" src="${baseUri}/project/static/js/jqgrid.common.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#goto_sparql").button();
			$("#goto_workspace").button();

			var rowNumber = $rowCSV;
			if (rowNumber < 5000) {
				$("#title_bar").text("#i18n("source.grid.desc") $!esc.html($it.title) (" + rowNumber + " #i18n("source.grid.entries"))");
			}
			htmlTableTojQGrid();
			jQuery("#grid").jqGrid('setColProp', '#i18n("source.grid.row.heading")', { sorttype:'int' });
		});
	</script>
</body>
</html>
