<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("project/resources")
#load_core_resources
	<title>$!esc.html($it.title) - #i18n("source.grid.title") - DataLift</title>
#css_links
#header_links
</head>
<body>
#banner
	<div style="position:absolute;top:15px;right:15px;">
		<a href="${baseUri}/sparql" id="goto_sparql" class="button">#i18n("sparql.endpoint.link")</a>
		<a href="${baseUri}/project" id="goto_workspace" class="button">#i18n("project.workspace.link")</a>
	</div>
	<div id="content" class="ui-widget-content dl-main-panel">
		<h3 id="title_bar" class="ui-widget-header dl-widget-header"></h3>
		<div id="results" class="dl-result-panel">
			<table id="grid">
			</table>
			<div id="pagernav"></div>
			
			<div id="searchnav" style="display:none">
				#i18n("grid.search.value.label") <input type="search" id="gridsearch" placeholder="#i18n("grid.search.value.placeholder")" results="0" class="gridsearch"/>
				#i18n("grid.search.column.label") <select id="searchColumn">
					<option value="all">#i18n("grid.search.column.option.all")</option>
		#foreach( $i in $it.getColumnNames() )
					<option>$esc.html($i)</option>
		#end
				</select>
			</div>
		</div>
	</div>
#footer
#script_links
	<script language="javascript" src="${baseUri}/project/static/js/jqgrid.common.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#goto_sparql").button();
			$("#goto_workspace").button();
			//Load table content
#set( $maxEntries = 1000 )
#set( $columns = $it.getColumnNames())	
	
##Array to contain the row map
	var jsonTableContent = [
#set($rowCounter = 0)
#foreach( $row in $it )
	#if( $foreach.count > $maxEntries )
		#break
	#end
	#if( $foreach.count > 1 )
		,
	#end
 	{
 	#set( $i = 0)
  	#foreach( $value in $row )
  		#if($value)
  		  	#if($i!=0)
  				,
  			#end
  			#set($col = $columns.get($i))
  			${esc.q}$esc.javascript($col)${esc.q}:${esc.q}$esc.javascript($value)${esc.q}
  			#set($i = $i + 1 )
  		#end
 	#end
 	}
#end
	];
			var columns = stringToArray("$it.getColumnNames()") ;
			var gridParam = getTableParameters(columns,jsonTableContent);
			//Fill the table	
			$("#grid").jqGrid(gridParam);

			var rowNumber = jsonTableContent.length;
			var sourceDescr = "#i18n("source.grid.desc") $!esc.javascript($it.title) ";
			if (rowNumber < $maxEntries) {
				sourceDescr = sourceDescr.concat("(" + rowNumber + " #i18n("source.grid.entries"))");
			}else{ 
				sourceDescr = sourceDescr.concat("($maxEntries #i18n("source.grid.displayed_entries"))");
			}
			$("#title_bar").text(sourceDescr);
			enableTable($("#grid"));
		});
	</script>
</body>
</html>
