<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("workspace/resources")
#load_core_resources
	<title>$!esc.html($it.title) - #i18n("source.grid.title") - DataLift</title>
#css_links
</head>
<body>
#banner
	<h3>#i18n("source.grid.desc") $!esc.html($it.title)</h3>
	<table id="grid">
		<thead>
			<tr>
				<th>#i18n("source.grid.row.heading")</th>
#foreach( $i in $it.getColumnNames() )
				<th class="dl-grid-header-column">$esc.html($i)</th>
#set($totalHeaderColumns = $velocityCount)
#end
			</tr>
		</thead>
		<tbody>
#foreach( $row in $it )
			<tr><td>$velocityCount</td>
#foreach( $i in $row ) <td>$!esc.html($i)</td> #end
#end
			</tr>
#end
		</tbody>
	</table>
	<div id="pagernav"></div>
	<div id="searchnav" style="display:none">
		#i18n("grid.search.value.label") <input type="search" id="gridsearch" placeholder="#i18n("grid.search.value.placeholder")" results="0" class="gridsearch"/>
		#i18n("grid.search.column.label") <select id="searchColumn">
			<option value="all">#i18n("grid.search.column.option.all")</option>
#foreach( $i in $it.getColumnNames() )
			<option>$esc.html($i)</option>
#end
		</select>
	</div>

#script_links
	<script language="javascript" src="${baseUri}/project/jqGrid.common.js"></script>
	<script type="text/javascript">
		$(function() {
			htmlTableTojQGrid();
		});
	</script>
</body>
</html>
