<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("project/resources")
#load_core_resources
	<title>#i18n("workspace.title") - DataLift</title>
#css_links
#script_links

</head>
<body>
<div class="navbar navbar-static-top">
<div class="navbar-inner" id="datalift-header">
 <div class="container-fluid">
  
  <div  class="nav-collapse collapse" id="datalift-header-collapse">
	<!-- Header Content -->
	<div class="row-fluid">
		<div class="brand span2 hidden-phone">
		  <img class="datalift-logo" src="${baseUri}/images/datalift-logo.png" />
		  <br/>
		  <a href="${baseUri}">Datalift</a> <span class="datalift-version hidden-phone"> (v1.0)</span>
		</div>
		<div class="span6" id="datalift-header-project">
				<table width="100%"><tr><td valign="middle">
					<img class="datalift-logo visible-phone" src="${baseUri}/images/datalift-logo.png" />
				</td>
				<td valign="bottom">
					<input type="text" data-provide="typeahead" data-source='["Projet 1","Projet 3","Projet 4"]' data-items="3" placeholder="Rechercher un projet..." class="datalift-header-searchinput"/>
					<a href="#"  class="hidden-phone"><img src="${baseUri}/images/ok.png" alt="Ok" /></a>
					<a href="#"><img src="${baseUri}/images/add.png" alt="Ajouter" /></a>
				</td></tr></table>
		</div>
		<div class="span2" >
		  <ul class="nav">
		   <li>
				<!--#i18n("login.label")--><a href="#" class="navbar-link">$esc.html(${securityCtx.userPrincipal})</a>
		   </li>
		   <li><a href="${baseUri}/sparql">#i18n("sparql.endpoint.link")</a></li>
		   <li><a href="${baseUri}/project">#i18n("project.workspace.link")</a></li>
		  </ul>
		</div>
	</div> <!-- /row-fluid-->
  </div> <!-- /nav-collapse -->
  
  <!-- Header button for up and down -->
  <div class="row-fluid hidden-desktop visible-tablet visible-phone  pagination-centered">
	  <div id="datalift-header-button" class="span1 offset5 pagination-centered">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target="#datalift-header-collapse">
			  <span id="datalift-header-button-chevron"><i class="icon-chevron-down"></i></span></span>
		  </a>
	  </div>
  </div>  
 </div> <!-- /container-fluid -->
</div>

</div><!-- /navbar -->

<div class="container-fluid">
<div class="row-fluid">

	<!-- Left menu content -->
	<div class="tabbable tabs-left span3" id="datalift-left-menu">
	  <ul class="nav nav-tabs" id="datalift-left-menu-ul">
		<li>&nbsp;</li>
		<li><p>Projet 1</p></li>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
		<li class="active">
			<a data-toggle="tab" href="#datalift-content-tab1"><img class="datalift-menu-iconographie" src="${baseUri}/images/exploitation.png" alt="Exploitation/Modification"/><span class="hidden-phone">Exploitation <i rel="tooltip" title="first tooltip" class="icon-info-sign"></i></span></a>
		</li>
		<li>
			<a data-toggle="tab" href="#datalift-content-tab2"><img class="datalift-menu-iconographie" src="${baseUri}/images/publication.png" alt="Publication"/><span class="hidden-phone">Publication <i  title="first tooltip" rel="tooltip" class="icon-info-sign"></i></span></a>
		</li>
		<li>
			<a data-toggle="tab" href="#datalift-content-tab3" href="#"><img class="datalift-menu-iconographie" src="${baseUri}/images/interconnection.png" alt="Interconnection"/><span class="hidden-phone">Interconnection <i  title="first tooltip" rel="tooltip" class="icon-info-sign"></i></span></a>
		</li>
		<li>
			<a data-toggle="tab" href="#datalift-content-tab4" href="#"><img class="datalift-menu-iconographie" src="${baseUri}/images/transformation.png" alt="Transformation"/><span class="hidden-phone">Transformation <i  title="first tooltip" rel="tooltip" class="icon-info-sign"></i></span></a>
		</li>
		<li>
			<a data-toggle="tab" href="#datalift-content-tab5" href="#"><img class="datalift-menu-iconographie" src="${baseUri}/images/import.png" alt="Import/Convertion"/><span class="hidden-phone">Import/Convertion <i  title="first tooltip" rel="tooltip" class="icon-info-sign"></i></span></a>
		</li>
		<li>
			<a data-toggle="tab" href="#datalift-content-tab6" href="#"><img class="datalift-menu-iconographie" src="${baseUri}/images/details.png" alt="Details" /><span class="hidden-phone">D&eacute;tails du projet <i  title="first tooltip" rel="tooltip" class="icon-info-sign"></i></span></a>
		</li>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
	  </ul>
	</div>
	
	<!-- Main content -->
	<div class="tab-content span9" id="datalift-center-content">
				<div class="tab-pane active" id="datalift-content-tab1">
				Content1
				<!-- <BR/> here for test purpose only ! --><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Content1Content1Content1Content1Content1Content1Content1
				</div>
				<div class="tab-pane" id="datalift-content-tab2">
				Content2
				</div>
				<div class="tab-pane">
				Content3
				</div>
				<div class="tab-pane">
				Content4
				</div>
				<div class="tab-pane">
				Content5
				</div>
				<div class="tab-pane">
				Content6
				</div>
	</div>

</div> <!-- /row-fluid -->
</div> <!-- /container-fluid-->

<script type="text/javascript">
$(document).ready(function() 
{

	// Header collapse animations
	$('#datalift-header-collapse').on('hidden', function () 
	{
		$("#datalift-header-button-chevron i").removeClass("icon-chevron-up");
		$("#datalift-header-button-chevron i").addClass("icon-chevron-down");
	});
	$('#datalift-header-collapse').on('shown', function ()
	{
		$("#datalift-header-button-chevron i").removeClass("icon-chevron-down");
		$("#datalift-header-button-chevron i").addClass("icon-chevron-up");
	});
	
	
	// Link the left menu bootstrap tooltips
   $(function () {
		$("[rel='tooltip']").tooltip();
	});
   
	// Handler wich will change css class name in html tags if the screen is resize (swich between pad and computer screen)
	function screenResize() 
	{
		if("matchMedia" in window)
		{
			if (window.matchMedia("(max-width:767px)").matches)
			{
			  // Phone screen size
				$('body').removeClass("datalift-tablet");
				$('body').addClass("datalift-phone");
			}
			else if (window.matchMedia("(max-width:979px)").matches)
			{
			  // Pad screen size
			  $('body').removeClass("datalift-phone");
			  $('body').addClass("datalift-tablet");
			  } 
			else
			{
			// Computer screen size
			$('body').removeClass("datalift-tablet");
			$('body').removeClass("datalift-phone");
				
			}
		}
	}
	
	// Call one time the handler to change the css classes if necessary
	screenResize();
	
	// Add an event on the screen resizing
	window.addEventListener('resize', screenResize, false);
});

</script>
</body>
</html>
