#load("workspace/resources")
#load_core_resources
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Datalift - Workspace</title>
#header_links
</head>
<body>
<script type="text/javascript">
#if ($current)
	var currentProject = "$current.uri";
#end
	$(function() {
		$("input:submit, .button").button();
		$("#tabs").tabs();
		
		if (typeof(currentProject) != 'undefined') {
			makeFocus(currentProject);
			if (window.location.hash == "")
				History.replaceState(null, null, window.location.href + "#description");
		}

		$(window).bind('popstate', function() {
			if (typeof(currentProject) != 'undefined') {
				if (History.getHash() == "")
					$("#tabs").tabs('select', "#description");
				else
					$("#tabs").tabs('select', "#"+History.getHash());
			}
		});

		loadGridSources();
		loadGridOntologies();	
		
		$(window).bind('resize', function() {
			$("#selectable_sources").setGridWidth($("#tabs").width() - 50);
	    	$("#selectable_ontologies").setGridWidth($("#tabs").width() - 50);
		}).trigger('resize');
		
		
	});

	function makeFocus(projectUrl) {
		var buttons = $(".dl-project-button");
		for (var i=0; i < buttons.length; i++) {
			if (buttons[i].href == projectUrl)
				$(buttons[i]).addClass("ui-state-focus");
			else
				$(buttons[i]).removeClass("ui-state-focus");
		}
	}

	function ajaxRequest(reqUrl) {
		jQuery.ajax({
			beforeSend: function(req) {
				req.setRequestHeader("Accept", "text/html");
			},
			url: reqUrl,
			type:"GET",
			success: successfulQuery,
			error: unsuccessfulQuery
		});
	}

	function successfulQuery(response) {
		$("#workspace-main-panel").empty();
		$("#workspace-main-panel").append(response);
	}

	function unsuccessfulQuery(XMLHttpRequest){
		alert("An error occured when trying to get project description.");
	}
	
	function loadGridSources() {
		/*	Sources */
		jQuery("#selectable_sources").jqGrid({
			datatype: "local",
		   	colNames:['#i18n("project.p_uri")','#i18n("project.p_title")','#i18n("project.p_others")'],
		   	colModel:[
		   	{name:'uri',index:'uri', sorttype:"text"},
		   	{name:'title',index:'title', sorttype:"text"},
		   	{name:'infos',index:'infos', sorttype:"text"}],
		   	caption: "",
		   	rowNum:10, rowList:[10,20,30], pager: '#selectable_sources_toolbar',
		   	autowidth: true,
		   	gridview: true
		});
		
		var mydata = [
		#foreach($curSrc in $current.getSources())
		{
			uri:"$curSrc.uri",
			title:"<a href='$curSrc.uri'>$esc.html($curSrc.title)</a>",
			#if($curSrc.getType() == $field.DbSource)
				infos: "#i18n("project.upload_db.source_url"): $!esc.html($curSrc.connectionUrl) <br />#i18n("project.upload_db.request"): $!esc.html($curSrc.request)  <br />#i18n("project.upload_db.cache_duration"): $!esc.html($curSrc.cacheDuration)"
			#elseif($curSrc.getType() == $field.RdfSource)
				infos: "$!esc.html($curSrc.filePath)"
			#elseif($curSrc.getType() == $field.TransformedRdfSource)
				infos: "$!esc.html($curSrc.targetGraph.toString())"
			#else
				infos: "#i18n('project.upload_csv_separator'): $!esc.html($curSrc.separator) <br/>#i18n('project.upload_csv_activate'): $!esc.html($curSrc.hasTitleRow())"
			#end
		},
		#end
		];
		for(var i=0;i<=mydata.length;i++)
			jQuery("#selectable_sources").jqGrid('addRowData',i+1,mydata[i]);
			
		jQuery("#selectable_sources").navGrid('#selectable_sources_toolbar',
			{edit:false,add:false,del:false}).navButtonAdd(
			'#selectable_sources_toolbar',
			{
			caption:"",
			buttonicon:"ui-icon-plus",
			onClickButton:function(){
				window.location = currentProject + "/srcupload.html"					
			} 
		}).navButtonAdd(
			'#selectable_sources_toolbar',
			{
			caption:"",
			buttonicon:"ui-icon-pencil",
			onClickButton:function(){
				var id = jQuery("#selectable_sources").getGridParam('selrow');
				if(id){
					var ret = jQuery("#selectable_sources").getRowData(id);
					 window.location = ret.uri+"/modify.html";
				} else {
					alert('#i18n("project.msg.select_row")');
				}
			} 
		}).navButtonAdd(
			'#selectable_sources_toolbar',
			{
			caption:"",
			buttonicon:"ui-icon-trash",
			onClickButton:function(){
				var id = jQuery("#selectable_sources").getGridParam('selrow');
				if(id){
					var ret = jQuery("#selectable_sources").getRowData(id);
					 window.location = ret.uri+"/delete";
				} else {
					alert('#i18n("project.msg.select_row")');
				}	
			} 
		});
		
		jQuery("#selectable_sources").jqGrid('hideCol',["uri"]);
	}
	
	function loadGridOntologies(){
	/*	Ontologies */
		var lastsel2
		jQuery("#selectable_ontologies").jqGrid({
			datatype: "local",
		   	colNames:['#i18n("project.p_uri")','#i18n("project.p_title")','#i18n("project.p_source")',"#i18n("project.p_dateSubmitted")", '#i18n("project.p_operator")'],
		   	colModel:[
		   	{name:'uri',index:'uri', sorttype:"text",editable:true,editoptions:{size:10}},
		   	{name:'title',index:'title', sorttype:"text",editable:true,editoptions:{size:50}},
		   	{name:'source',index:'source', sorttype:"text",editable:true,editoptions:{size:50}},
		   	{name:'dateSubmitted',index:'dateSubmitted', sorttype:"text",editable:true,editoptions:{size:50}},
		   	{name:'operator',index:'operator', sorttype:"text",editable:true,editoptions:{size:50}}],
		  	caption: "",
		   	rowNum:10, rowList:[10,20,30], pager: '#selectable_ontologies_toolbar',
		   	autowidth: true,
		   	gridview: true
		});
		
		var mydataOntology = [
		#foreach($curOnto in $current.getOntologies())
		{
			uri:"$!esc.html($curOnto.uri)",
			title:"$!esc.html($curOnto.title)",
			source:"$!esc.html($curOnto.source)",
			dateSubmitted:"$date.format("medium", $curOnto.dateSubmitted)",
			operator:"$!esc.html($curOnto.operator)"
		},
		#end
		];
		for(var i=0;i<=mydataOntology.length;i++)
			jQuery("#selectable_ontologies").jqGrid('addRowData',i+1,mydataOntology[i]);
						
		jQuery("#selectable_ontologies")
			.navGrid('#selectable_ontologies_toolbar',
				{edit:false,add:false,del:false
			}).navButtonAdd(
			'#selectable_ontologies_toolbar',
			{
				caption:"",
				buttonicon:"ui-icon-plus",
				onClickButton:function(){
				window.location = currentProject + "/ontologyUpload.html"					
			} 
			}).navButtonAdd('#selectable_ontologies_toolbar',
				
				{caption:"",
				buttonicon:"ui-icon-pencil",
				onClickButton:function(){
					var id = jQuery("#selectable_ontologies").getGridParam('selrow');
					if(id){
						var ret = jQuery("#selectable_ontologies").getRowData(id);
						window.location = currentProject + "/ontology/"+ret.title+"/modify.html";
					} else {
						alert('#i18n("project.msg.select_row")');
					}							
				} 
			}).navButtonAdd(
			'#selectable_ontologies_toolbar',
			{
			caption:"",
			buttonicon:"ui-icon-trash",
			onClickButton:function(){
				var id = jQuery("#selectable_ontologies").getGridParam('selrow');
				if(id){
					var ret = jQuery("#selectable_ontologies").getRowData(id);
					window.location = currentProject + "/ontology/"+ret.title+"/delete";
				} else {
					alert('#i18n("project.msg.select_row")');
				}	
			} 
			});
			jQuery("#selectable_ontologies").jqGrid('hideCol',["uri"]);
	}
</script>

#banner
<div id="workspace" class="ui-widget-content">
<h3 class="ui-widget-header dl-widget-header">Workspace</h3>

<div id="projects_panel" class="ui-widget-content">
	<h3 class="ui-widget-header dl-widget-header">#i18n("project.title.available")</h3>
	<div id="project_scroll">
#foreach( $item in $it )
		<a class="ui-state-default dl-project-button" onclick="makeFocus(this);" href="${item.uri}">$!esc.html($item.title)</a><br/>
#end
	</div>
	<a href="${baseUri}/workspace/project/add.html">#i18n("project.title.new_project")</a>
</div>
<div id="workspace-main-panel" class="ui-widget-content">
#if ($current)
	<div id="tabs">
		<ul>
			<li><a onclick="historyPush('${current.uri}#description');" href="#description">Description</a></li>
			<li><a onclick="historyPush('${current.uri}#source');" href="#source">Sources</a></li>
			<li><a onclick="historyPush('${current.uri}#ontology');" href="#ontology">#i18n("project.title.ontology")</a></li>
		</ul>
		<div id="description">
			#i18n("project.owner_s"): $!esc.html($current.owner)<br/>
			#i18n("project.description"): $!esc.html($current.description)<br/>
			#i18n("project.creation_s"): $date.format("medium", $current.dateCreation)<br/>
			#i18n("project.modification_s"): $date.format("medium", $current.dateModification)<br/>
			#i18n("project.license"): <a href="$current.getLicense()">$esc.html($!current.license)</a>

			<div id="module_can_handle">
				<p>#i18n("project.module_available"):</p>
				<ol id="selectable_module">
#foreach ($curModule in $canHandle)
#set( $i18nEntry = $curModule.name + ".module.label" )
					<li>
						<a href="${baseUri}/$curModule.canHandle($current)" class="module_can_handle"
						   id="$curModule.name">#i18n($i18nEntry)</a>
					</li>
#end
				</ol>
			</div>
			<form method="post" action="$current.uri" class="form_formated">
				<a href="${current.uri}/modify.html" class="button">#i18n("modify")</a>
				<input type="hidden" id="delete" name="delete" value="true" />
				<input type="submit" value="#i18n("delete")"/>
			</form>
		</div>

		<div id="source">
			<p>#i18n("project.source_available"):</p>
			<form> 
			<table id="selectable_sources">
			</table>
			<div id="selectable_sources_toolbar"></div>
			</form> 
			<br/>
			<a href="${current.uri}/srcupload.html">#i18n("project.add_dataset")</a>
		</div>

		<div id="ontology">
			<p>#i18n("project.ontology_available"):</p>

			<table id="selectable_ontologies">
			</table>
			<div id="selectable_ontologies_toolbar"></div>
			</form> 
			<br/>
			<a href="${current.uri}/ontologyUpload.html">#i18n("project.add_ontology")</a>
		</div>
	</div>
	
#else
	<p style='text-align:center'>
		#i18n("welcome")
	</p>
#end
</div>
#footer
</body>
</html>
