<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr"> <!--<![endif]-->
<head>
#load("ontology-mapper/resources")
#load_core_resources
#set( $moduleUri = "$baseUri/ontology-mapper" )
  <title>#i18n("ontology.mapper.title") - Datalift</title>
  <meta name="description" content="#i18n('ontology.mapper.description')">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="${moduleUri}/static/css/bootstrap.css">
  <!-- style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style -->
  <link rel="stylesheet" href="${moduleUri}/static/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="${moduleUri}/static/css/datalift.css">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="${moduleUri}/static/favicon.ico">
  <link rel="apple-touch-icon" href="${moduleUri}/static/datalift.png">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="brand">
          <img id="datalift-logo" src="${moduleUri}/static/img/datalift-logo.png"/>
          <a href="#">Datalift</a>
        </div>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            #i18n("login.label") <a href="#" class="navbar-link">$esc.html(${securityCtx.userPrincipal})</a>
          </p>
          <ul class="nav">
            <li><a href="${baseUri}/sparql">#i18n("sparql.endpoint.link")</a></li>
            <li><a href="${baseUri}/project">#i18n("project.workspace.link")</a></li>
          </ul>
        </div><!-- /nav-collapse -->
      </div>
    </div>
  </div><!-- /navbar -->

  <div class="container-fluid">
    <div class="row-fluid">
      <!-- Page title -->
      <div class="span12 mapping-title">
        <h1>#i18n("ontology.mapper.title")</h1>
      </div><!-- /mapping-title -->
      <!-- Source and ontology selection -->
      <div class="row-fluid">
        <div class="span12" data-bind="visible: mappings().length == 0">
          <form id="root-type" class="form-horizontal">
            <div class="control-group">
              <label for="from-source "class="control-label">#i18n("from.source.label"): </label>
              <div class="controls">
                <select id="from-source" data-bind="options: sources, optionsText: 'title', value: selectedSource, optionsCaption: '#i18n("select.source.caption")'"></select>
                <label class="checkbox"><input type="checkbox" data-bind="checked: createNewSource"> #i18n("create.target.source.button")</label>
              </div>
            </div>
            <div data-bind="visible: createNewSource">
              <div class="control-group">
                <label for="target-name" class="control-label">#i18n("target.source.title.label"): </label>
                <div class="controls">
                  <input id="target-name" type="text" class="input-large" data-bind="value: targetSrcName"/>
                </div>
              </div>
              <div class="control-group">
                <label for="target-graph" class="control-label">#i18n("target.source.graph.label"): </label>
                <div class="controls">
                  <input id="target-graph" type="text" class="input-xxlarge" data-bind="value: targetSrcGraph"/>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label for="target-ontology" class="control-label">#i18n("target.ontology.label"): </label>
              <div class="controls">
                <select id="target-ontology" data-bind="options: availableOntologies, optionsText: 'name', value: selectedOntology, optionsCaption: '#i18n("select.ontology.caption")'"></select>
              </div>
            </div>
            <div class="control-group" data-bind="visible: primaryTypes">
              <label for="primary-type" class="control-label">#i18n("target.obj.type.label"): </label>
              <div class="controls">
                <select id="primary-type" data-bind="options: primaryTypes, value: selectedPrimaryType, optionsCaption: '#i18n("select.obj.type.caption")'"/></select>
                <button type="button" class="btn btn-small btn-primary" data-bind="visible: selectedPrimaryType, click: $root.addTypeMapping">#i18n("submit.label")</button>
              </div>
            </div>
          </form>
        </div>
      </div><!-- /row-fluid -->
      <div class="row-fluid">
        <div class="span4 mapping-forms">
          <!-- Property mapping -->
          <div data-bind="with: currentMapping">
            <h3>#i18n("mapping.for.label") <span data-bind="text: title"></span></h3>
            <div class="tabbable">
              <ul class="nav nav-pills nav-stacked">
                <li class="active">
                  <a href="#props-tab" data-toggle="tab">#i18n("properties.section.title")</a>
                </li>
                <li data-bind="visible: $root.secondaryTypes().length != 0">
                  <a href="#types-tab" data-toggle="tab">#i18n("types.section.title")</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="props-tab">
                  <form id="property-form" class="active">
                    <div class="control-group" data-bind="visible: $root.availableProperties">
                      <label for="object-property">#i18n("new.property.label"): </label>
                      <select id="object-property" data-bind="options: $root.availableProperties, value: $root.selectedProperty, optionsCaption: '#i18n("select.property.caption")'"/></select>
                    </div>
                    <div class="control-group" data-bind="visible: $root.primaryTypes">
                      <label for="primary-type">#i18n("main.type.label"): </label>
                      <select id="primary-type" data-bind="options: $root.primaryTypes, value: $root.selectedPrimaryType, optionsCaption: '#i18n("select.main.type.caption")'"/></select>
                    </div>
                    <div class="control-group" data-bind="visible: $root.valueExpected">
                      <label for="property-value">#i18n("property.value.label"): </label>
                      <input id="property-value" type="text" class="input-xlarge" data-bind="value: $root.propertyValue"/>
                    </div>
                    <button type="button" class="btn btn-small btn-primary" data-bind="click: $root.addPropertyMapping">#i18n("add.label")</button>
                  </form>
                </div>
                <div class="tab-pane" id="types-tab">
                  <form id="type-form" class="form-horizontal">
                    <div class="control-group">
                      <label for="secondary-type">#i18n("opt.type.label"): </label>
                      <select id="secondary-type" data-bind="options: $root.secondaryTypes, value: $root.selectedSecondaryType, optionsCaption: '#i18n("select.opt.type.caption")'"/></select>
                      <button type="button" class="btn btn-small btn-primary" data-bind="click: $root.addSecondaryType">#i18n("add.label")</button>
                    </div>
                  </form>
                </div>
              </div><!-- /tab-content -->
            </div><!-- /tabbable -->
          </div>
        </div><!-- /mapping-forms -->

        <div class="span8 mapping-result">
          <table class="table table-striped table-hover">
            <tbody data-bind="foreach: mappings">
              <tr data-bind="click: $root.selectMapping, css: { success: $data == $root.currentMapping() }">
                <td data-bind="style: { paddingLeft: indent }"><i class="icon-ok"></i> <span data-bind="text: label"></span></td>
                <td class="span1" style="text-align: right;"><button type="button" class="btn btn-mini btn-danger" data-bind="click: $root.removeMapping">#i18n("delete.label")</span></td>
              </tr>
            </tbody>
          </table>
          <div data-bind="visible: preview">
            <h3>#i18n("preview.section.title")</h3>
            <pre data-bind="text: preview"></pre>
          </div>
          <button type="button" class="btn btn-danger" data-bind="visible: queryComplete, click: execute"><i class="icon-play icon-white"></i> #i18n("convert.data.button")</button>
        </div><!-- /mapping-result -->
      </div><!-- /row-fluid -->
    </div><!-- /row-fluid -->
    <hr>
    <footer>
      <p>&copy; Atos 2012 - #i18n("footer.more_info") <a href="http://www.datalift.org/">http://www.datalift.org/</a></p>
    </footer>
  </div><!-- /container-fluid -->

  <script src="${moduleUri}/static/js/libs/jquery-1.8.0.min.js" language="javascript"></script>
  <script src="${moduleUri}/static/js/libs/bootstrap-2.1.0.min.js" language="javascript"></script>
  <script src="${moduleUri}/static/js/libs/knockout-2.1.0.js" language="javascript"></script>
  <script src="${moduleUri}/static/js/mapper.js" language="javascript"></script>

  <script type="text/javascript">
    $(function() {
      var sources = [
#foreach( $s in $it.sources )#if( $s.type == $srcType )
        { uri:"$esc.javascript($!{s.uri})", title:"$esc.javascript($!{s.title})" }, #end
#end ];
      var ontologies = [
#foreach( $o in $it.ontologies )
        { uri:"$esc.javascript($!{o.source})", title:"$esc.javascript($!{o.title})" },
#end ];
      ko.applyBindings(new MappingViewModel("$!{baseUri}", "$!{it.uri}", sources, ontologies));
    });
  </script>
</body>
</html>
