
body {
  background-color:#FFFFFF;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size:.9em;
  overflow-y:scroll;
}

.dl-widget-header {
  text-align:center;
  margin:0;
}

.dl-main-panel {
  margin:10px;
}

.dl-panel {
  position:relative;
  margin:10px;
}

.dl-result-panel {
  display:none;
  margin:10px;
}

.dl-form-elt {
  display:inline-block;
}

.dl-form-buttons {
  display:inline-block;
  position:absolute;
  bottom:0;
  right:0;
}

.dl-banner {
  margin:10px;
}

.dl-footer {
  text-align:center;
  font-style:italic;
  margin:10px;
}

#datalift-title {
  font-size:2.5em;
  font-style:italic;
  font-weight:bold;
  display:inline-block;
  vertical-align:middle;
}

#datalift-logo {
  width:80px;
  height:100px;
  display:inline-block;
  vertical-align:middle;
}

#datalift-partenaire {
	display:inline;
	height:100px;
	width:auto;
	vertical-align:middle;
	margin-left: 10px;
}

#projects_panel {
  width:10%;
  margin:0;
  margin-left:1%;
  margin-top:1%;
  height:280px;
  float:left;
text-align:center;
}

#project_scroll {
  margin:0;
  height:245px;
  overflow:auto;
}

#add_project {
  display:inline-block;
 margin:auto;
}

#workspace-main-panel {
  height:450px;
  margin-right:10px;
  margin-top:10px;  
  margin-left:13%;
  width:85%;
  overflow:hidden;
}

#workspace {
  padding-bottom:10px;
  width:100%;
}

.dl-project-button {
  width:91%;
  text-align:center;
  display:inline-block;
  padding:5px;
}



/* fixing Jquery tabs Problem */
.ui-helper-clearfix {
  height: 32px;
}

/* Project description */
#tabs {
  border:none;
}

#module_frame {
  border:none;
  width:100%;
  height:100%;
}

.form_formated label {
  width:280px;
  display:block;
  float:left;
}

.form_formated .medium {
  width:325px;
  display:block;
  float:left;
}

.form_formated .large {
  width:450px;
  display:block;
  float:left;
}

#accordion {
  margin: 10px 0px;
}

.projectmodule_button {
  width:300px;
}

.automargin {
  margin:auto;
}

#converter_form {
 padding:10px;
 width:100%;
}

#converter_form p label {
  width:30%;
  display:inline-block; 
}

#converter_form p input, #converter_form p select  {
  width:45%;
}

#converter_form p .button {
  display:inline-block;
  margin:auto;
}

.form_formated p input, .form_formated p textarea {
  width:45%;
}

.grid_form, #source, #ontology {
}

#selectable_sources_toolbar_center, #selectable_ontologies_toolbar_center {
  display:none;
}

