/**
 * Interlinking module cascading stylesheet.
 * @author tcolas
 * @date 25072012
 */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; clear: both;}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.ui-state-success {
	color:#690 !important;
}


/**
 * ---------------------------------------------------------------------------
 * Silk Interconnection's overall interface.
 */

form {
	width: auto;
	margin: 20px;
}

fieldset {
	margin: 0;
	padding: 5px;
}

h4 {
	font-weight: bold;
	font-size: 120%;
	padding: 0;
}

legend, h5 {
	font-weight: bold;
	font-size: 110%;
	padding: 0;
	margin-left: 20px;
}

form h4 {
	margin: 10px 0 10px 15px;
}

form h5 {
	margin: 10px 20px;
}

label {
	cursor: pointer;
}

.info, p.help {
	color: #666;
	font-size: 75%;
	text-align: justify;
}

p.help {
	background-color:#fff;
	font-weight:normal;
	height:60px;
	padding:2px;
	border:1px solid #ddd;
	border-left:4px solid #ddd;
	padding-right:5px;
	margin-top:5px;
}

h5.info {
	display:inline-block;
}

input[type=submit] {
	min-width: 100px;
}

.multiple-choices {
	display: inline-block;
}

div.form-inline {
	display: inline-block;
	padding: 5px 10px;
}

div.form-stack {
	display: block;
	margin: 10px 0 0;
	padding: 10px;
}

.form-stack label {	
	margin-bottom: 3px;
	display: block;
}

.form-stack input[type=text], .form-stack select, .form-stack textarea, .form-stack .ui-combobox {
	width: 100%;
	min-width: 350px;
}

.form-stack textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
	padding:2px;
	border: 1px solid #c5dbec;
}

.form-stack p.info {
	margin: 2px 0;
}

.form-stack span.ui-icon {
	float: left;
	margin-right: 5px;
	display: none;
}

#file-form p.info {
	margin: 2px 15px 0;
}

#file-form div.form-inline  {
	min-width:320px;
	width:38%;
}

#file-form input[type=text] {
	width:65%;
}

#file-form input[type=submit] {
	padding: 6px 0 8px;
}

#file-form a.cancel-button {
	padding: 1px 15px 2px;
}

#script-form fieldset.field-stack {
	width: 49%;
	float:left;
	margin:0;
	counter-reset: compare;
}

#script-form fieldset.field-stack:first-of-type {
	margin-right: 19px;
}

#script-form .form-inline input[type=text] {
	width:120px;
}

#script-form .form-inline input[type=text].numeric-field {
	width: 65px;
}

#script-form .form-inline select {
	margin: 2px 0 1px;
}

.field-stack h5:after {
	counter-increment: compare; 
	content: " #" counter(compare);
}

#script-form .metric-info {
	margin: 5px 15px;
}

#script-form div.measure-stack {
	counter-reset: measure;
}

.measure-stack h5:after {
	counter-increment: measure; 
	content: " #" counter(measure);
}

#script-form .aggregation {
	margin: 5px;
}

#script-form div.multiple-choices {
	margin: 15px 5px;
}

.field-stack > a {
	width: 100%;
	margin: 10px 0 0 0;
}

noscript div {
	text-align: center;
	margin: 10px 20px;
}

noscript h4 {
	margin: 5px;
	text-transform: uppercase;
}

/**
 * ---------------------------------------------------------------------------
 * StringToURI' post-process success page.
 */

.success-display {
	padding-top: 20px;
}

.results {
	width: auto;
	padding: 10px;
}

/**
 * ---------------------------------------------------------------------------
 * StringToURI' post-process error page.
 */

.error-display img {
	margin-left: 50px;
	position: relative;
	top: 15px;
}

.error-display ul {
	list-style-type: none;
	background-image: none;
	padding: 0 10px;
}

.error-display li {
	margin: 10px 0;
}

.error-display span.ui-icon {
	float: left;
	margin-right: 5px;
}

.error-label {
	text-transform: uppercase;
}

.error-label:after {
	content: ' — ';
}


/**
 * ---------------------------------------------------------------------------
 * UI Combobox Styling.
 */


.ui-combobox {
	position:relative;
	display:inline-block;
}

.ui-combobox-toggle {
	position:absolute;
	top:0;
	bottom:0;
	margin-left:-1px;
	width:6%;
}

.ui-combobox-toggle .ui-button-text {
	padding-left:30%;
}

.ui-combobox-input {
	margin:0;
	padding:0.3em;
	width:94%;
	font-size:80%;
}

.ui-menu {
	font-size:80%;
}

.ui-menu strong {
	color:#690;
}
