<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("sparql/resources")
#load_core_resources
	<title>#i18n("sparql.query.results") - #i18n("sparql.endpoint.title") - DataLift</title>
#header_links
</head>
<body>
#banner
#set($columnWidth = 100 / $it.Columns.size())
	<script>
		var gridData = new Array();
		var searchData = new Array();

		$(document).ready(function(){
			jQuery.extend(jQuery.jgrid.defaults, {
				pager: $('#pagernav'),
				caption: $('#searchnav').html(),
				rowNum: 200,
				rowList:[50,100,200,500,1000,2000],
				height: 450,
				search:{
					caption: "#i18n("grid.search.value.label")"
				}
			});
			tableToGrid("#queryresults", { datatype: "local" });

			$("#queryresults").trigger("reloadGrid");
			$("#results").show();
			$("#queryresults").setGridWidth($("#results").width());

			gridData = $("#queryresults").getRowData();
			// Function called when modifying search text
			$("#gridsearch").keyup(function () {
				gridSearch($(this).val().toLowerCase());
			});
			// Function called when modifying search Column
			$("#searchColumn").change(function() {
				gridSearch($("#gridsearch").val().toLowerCase());
			});
		});

		function gridSearch(searchString) {
			searchData = [];
			if ($("#searchColumn").val() == "all") {
				searchAllColumns(searchString);
			}
			else {
				searchOneColumn(searchString, $("#searchColumn").val());
			}
			$("#queryresults").jqGrid('clearGridData', true);
			$("#queryresults").jqGrid('setGridParam',{data:searchData}).trigger("reloadGrid");
		}

		function searchAllColumns(searchString) {
			var c = 0;
			for (var i = 0; i < gridData.length; i++) {
				var found = false;
				for (property in gridData[0]) {
					var toCmp = eval("gridData[i]." + property);
					if (!found && toCmp.toLowerCase().indexOf(searchString) != -1) {
						searchData[c] = gridData[i];
						c++;
						found = true;
					}
				}
			}
		}

		function searchOneColumn(searchString, searchColumn) {
			var c = 0;
			for (var i = 0; i < gridData.length; i++) {
				var toCmp = eval("gridData[i]." + searchColumn);
				if (toCmp.toLowerCase().indexOf(searchString) != -1) {
					searchData[c] = gridData[i];
					c++;
				}
			}
		}
	</script>

	<div id="content" class="ui-widget-content dl-main-panel">
		<h3 class="ui-widget-header dl-widget-header">#i18n("sparql.query.full")</h3>
		<div id="results" class="dl-result-panel">
			<table id="queryresults" style="width:100%">
				<thead>
					<tr>
						<th>#i18n("sparql.subject")</th>
						<th>#i18n("sparql.predicate")</th>
						<th>#i18n("sparql.object")</th>
					</tr>
				</thead>
				<tbody>
#foreach( $item in $it )
					<tr>
#if( ${item.subject.startsWith("http://")} )
						<td><a href="$esc.url($!{item.subject})">$esc.html($!{item.subject})</a></td>
#else
						<td>$esc.html($!{item.subject})</td>
#end
						<td>$esc.html($!{item.predicate})</td>
#if( ${item.object.startsWith("http://")} )
						<td><a href="$esc.url($!{item.object})">$esc.html($!{item.object})</a></td>
#else
						<td>$esc.html($!{item.object})</td>
#end
					</tr>
#end
				</tbody>
			</table>
			<div id="pagernav"></div>
		</div>
		<div id="searchnav" style="display:none">
			#i18n("grid.search.value.label") <input type="search" id="gridsearch" placeholder="#i18n("grid.search.value.placeholder")" results="0" class="gridsearch" />
			#i18n("grid.search.column.label") <select id="searchColumn">
				<option value="all">#i18n("grid.search.column.option.all")</option>
				<option>#i18n("sparql.subject")</option>
				<option>#i18n("sparql.predicate")</option>
				<option>#i18n("sparql.object")</option>
			</select>
		</div>
	</div>
#footer
</body>
</html>
