/* Global */
body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.notification-bell {
    font-size: 22px;
    padding: 10px 15px;
}

.notification-badge {
    font-size: 10px;
    padding: 3px 5px;
    position: relative;
    right: 28px;
}

.notification-container {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 9000;
    width: 400px;
}

.center-content {
    margin: 10px;
    text-align: center;
}

.pointer {
	cursor: hand;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

/* Wizard */
.wizard {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.wizard li {
	width: 24%;
	float: left;
	display: block;
	height: 50px;
	margin: 10px 5px 20px 5px;
	position: relative;
	padding: 0px 3px;
}

.wizard li a {
	display: block;
	height: 50px;
}
.wizard .step-number {
	font-size: 2.5em;
}

.wizard .step-active {
	background-color: #428BCA;
	border: 1px solid #357EBD;
	box-shadow: 3px 3px 5px #888888;
}

.wizard .step-active a {
	cursor: default;
	pointer-events: none;
	color: #FFFFFF;
}

.wizard .step-active a:hover,
.wizard .step-active a:focus,
.wizard .step-active a:active {
	outline: 0;
	text-decoration: none;
}

.wizard .step-done {
	background-color: #5CB85C;
	border: 1px solid #4CAE4C;
}

.wizard .step-done a {
	color: #FFFFFF;
	outline: 0;
	text-decoration: none;
}

.wizard .step-done:hover,
.wizard .step-done:focus,
.wizard .step-done:active {
	background-color: #47A447;
	border: 1px solid #398439;
}

.wizard .step-done a:hover,
.wizard .step-done a:focus,
.wizard .step-done a:active {
	outline: 0;
	text-decoration: none;
}

.wizard .step-disabled {
	background-color: #EEEEEE;
	border: 1px solid #E5E5E5;
}

.wizard .step-disabled a{
	cursor: default;
	pointer-events: none;
	color: #333333;
}

/* Ontology Tree */
.ontologyTree > .ontologyTree-content {
	max-height: 200px;
	overflow: auto;
}

.ontologyTree-open {
	
}

.ontologyTree-close {
	
}

.ontologyTree > span {
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
}

.ontologyTree .ontologyTree-selectable {
	cursor: hand;
	cursor: pointer;
}

.node-selected {
	background-color: #5CB85C;
}

/* Select view */
.data-selection {
	margin-bottom: 40px;
}

.nav-button {
	margin-left: 30px;
}

/* Mapping view */
.mapping-tabset .tab-content {
	margin-top: 20px;
}

.list-group-item,
.list-group-item:active,
.list-group-item:focus {
	outline: 0;
}

.list-group .active,
.list-group .active:active,
.list-group .active:focus {
	outline: 0;
}

.search-bar {
	margin: 10px 0;
}

.filter {
	
}

/* Refine view */
.droppable {
	border: 2px solid #FFFFFF;
}
.droppable-active {
	border: 2px dashed #999999;
}
.object-mappings {
	margin: 5px 20px;
	padding: 5px;
	cursor: move;
	border: 1px dotted #CCCCCC;
}

/* Graph */
#graph-visualization {

}
