<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("csvdirectmapper/resources")
#load_core_resources
	<title>#i18n("csvdirectmapper.title") - DataLift</title>
#css_links
</head>
<body>
#banner
<div class="ui-widget-content converter_main" id="workspace">
	<h3 class="ui-widget-header dl-widget-header">#i18n("csvdirectmapper.title") - #i18n("project.label") $esc.html($it.title)</h3>

	<form id="converter_form" method="post" action="${baseUri}/csvdirectmapper">
		<input type="hidden" name="project" id="project" value="${it.uri}"/>
		<p><label for="source">#i18n("source.to_convert"):</label>
		<select name="source" id="source">
#foreach( $curSrc in $it.getSources() )
	#set( $count = 1 )
	#if( $converter.canHandle($curSrc) )
		#foreach( $source in $it.getSources() )
			#if( $source.getType() == $field.TransformedRdfSource && $source.getParent().uri == $curSrc.uri )
				#set( $count = $count + 1 )
			#end
		#end
			<option value="${curSrc.uri}" name="${curSrc.title}" count="$count">$esc.html($curSrc.title)</option>
	#end
#end
		</select></p>

		<p><label for="dest_title">#i18n("dest.title"):</label>
		<input type="text" name="dest_title" id="dest_title" value=""/></p>
		<p><label for="dest_graph_uri" class="hidden">#i18n("dest.uri"):</label>
		<input type="text" name="dest_graph_uri" id="dest_graph_uri" title="#i18n('dest.graph.help')" value=""/></p>
		<p><label for="base_uri">#i18n("dest.base_uri"): </label>
		<input type="text" id="base_uri" name="base_uri" title="#i18n('dest.base_uri.help')" value=""/></p>
		<p><label for="dest_type">#i18n("dest.type_uri"): </label>
		<input type="text" id="dest_type" name="dest_type" title="#i18n('dest.type_uri.help')" placeholder="myClass" value=""/></p>
		<p><label for="key_column">#i18n("csv.map.key"): </label>
		<select id="key_column" name="key_column"/>
			<option value="-1" selected="true">#i18n("csv.map.key.auto")</option>
		</select></p>

		<div id="accordion" class="ui-widget">
		    <h3><a href="#">#i18n("csv.type.mapping")</a></h3>
		    <div id="columns"></div>
		</div>

		<input type="submit" id="source_submit" value="#i18n('submit.label')"/>
	</form>
</div>

#script_links
<script type="text/javascript">
	$(function() {
		$("#accordion").accordion({
			disabled: true,
			active: false,
			collapsible: true
		});

		$("#source_submit").button();

		$("#source").change(function(){
			$("#source option:selected").each(function () {
				$("#dest_title").attr("value", $(this).attr("name") + " - (RDF #" + $(this).attr("count") + ")");
				$("#dest_graph_uri").attr("value", $(this).attr("value") + "-rdf-" + $(this).attr("count"));
				$("#base_uri").attr("value", $(this).attr("value") + "-rdf-" + $(this).attr("count"));
				jQuery.ajax({
					type: "GET",
					url: $(this).attr("value") + "/columnNames",
					dataType: "json",
					success: handleSourceColumnResponse
				});

			});
		});
		$("#source").change();
	});

	function successQueryPost() {
		window.location = '${it.uri}#source';
	}

	function errorQueryPost() {
		alert("#i18n('server.ajax.error')")
	}

	function handleSourceColumnResponse(response) {
		var acc  = $("#accordion");
		acc.accordion("activate", false);
		acc.accordion("disable");
		var cols = $("#columns");
		cols.empty();
		var keyCol = $("#key_column");
		keyCol.empty();
		keyCol.append('<option value="-1" selected="true">#i18n("csv.map.key.auto")</option>');
		for (var i=0; i<response.length; i++) {
			var h = [];
			var colName = 'col_' + i;
			h.push('<p><label for="' + colName + '">#i18n("csv.map.column") "' + response[i] + '"#i18n("form.colon.prefix"):</label>');
			h.push('<select name="' + colName + '" id="' + colName + '">');
			h.push('<option value="string" selected="true">#i18n("csv.map.string")</option>');
			h.push('<option value="ignore">#i18n("csv.map.ignore")</option>');
			h.push('<option value="int">#i18n("csv.map.int")</option>');
			h.push('<option value="float">#i18n("csv.map.float")</option>');
			h.push('<option value="boolean">#i18n("csv.map.boolean")</option>');
			h.push('<option value="date">#i18n("csv.map.date")</option>');
			h.push('<option value="auto">#i18n("csv.map.autodetect")</option>');
			h.push('</select></p>');
			cols.append(h.join(''));
			keyCol.append('<option value="' + i + '">#i18n("csv.map.column") "' + response[i] + '"</option>');
		}
		cols.append('<p><label for="true_values">#i18n("csv.map.truevalues"):</label><input type="text" name="true_values" id="true_values" title="#i18n('csv.map.truevalues.help')" value=""/></p>');
		cols.append('<p><label for="date_format">#i18n("csv.map.dateformat"):</label><input type="text" name="date_format" id="date_format" title="#i18n('csv.map.dateformat.help')" value=""/></p>');
		acc.accordion("resize");
		acc.accordion("enable");
	}
</script>
</body>
</html>
