<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("rdfloader/resources")
#load_core_resources
	<title>#i18n("publisher.title") - DataLift</title>
#css_links
</head>
<body>
#banner
<div class="ui-widget-content converter_main" id="workspace">
	<h3 class="ui-widget-header dl-widget-header">#i18n("publisher.title") - #i18n("project.label") ${it.title}</h3>

	<form id="converter_form" method="post" action="${baseUri}/simple-publisher?project=${it.uri}">
		<p><label for="source">#i18n("source.to_publish"):</label>
		<select id="source" name="source">
#foreach( $curSrc in $it.getSources() )
	#if( $curSrc.getType() == $field.TransformedRdfSource )
			<option name="${curSrc.uri}">$esc.html($curSrc.title)</option>
	#end
#end
		</select></p>

		<input type="submit" id="source_submit" value="#i18n('submit.label')"/>
	</form>
</div>

#script_links
<script type="text/javascript">
	var form_base_action = "${baseUri}/simple-publisher?project=${it.uri}";

	$(function() {
		$("#source_submit").button();

		$("#source").change(function(){
			$("#source option:selected").each(function () {
					$("#converter_form").attr('action', form_base_action + "&source=" + $(this).attr('name'));
			});
		});

		$("#source").change();
	});
</script>
</body>
</html>
