<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("rdfloader/resources")
#load_core_resources
	<title>#i18n("simple-publisher.title") - DataLift</title>
#css_links
</head>
<body>
#banner
<div class="ui-widget-content converter_main" id="workspace">
	<h3 class="ui-widget-header dl-widget-header">#i18n("simple-publisher.title") - #i18n("project.label") ${it.title}</h3>

	<form id="converter_form" method="post" action="${baseUri}/simple-publisher">
		<input type="hidden" name="project" id="project" value="${it.uri}"/>
		<p><label for="source">#i18n("source.to_publish"):</label>
		<select id="source" name="source">
#foreach( $curSrc in $it.getSources() )
	#if( $converter.canHandle($curSrc) )
			<option value="${curSrc.uri}" name="${curSrc.title}">$esc.html($curSrc.title)</option>
	#end
#end
		</select></p>
#if( ${repositories.size()} > 1 )
		<p><label for="store">#i18n("dest.repository"): </label>
		<select id="store" name="store">
#foreach( $item in $repositories )
#if( $foreach.count == 1 )
			<option value="$esc.html($!{item.name})" selected="true">#i18n($!{item.label})</option>
#else
			<option value="$esc.html($!{item.name})">#i18n($!{item.label})</option>
#end
#end
		</select></p>
#end
		<p><label for="dest_graph_uri">#i18n("dest.uri"):</label>
		<input type="text" name="dest_graph_uri" id="dest_graph_uri" title="#i18n('dest.graph.help')" value=""/></p>
		<input type="submit" id="source_submit" value="#i18n('submit.label')"/>
                <input type="checkbox" id="overwrite" name="overwrite" value="true"/> #i18n('source.overwrite.label') 
	</form>
</div>

#script_links
<script type="text/javascript">
	$(function() {
		$("#source_submit").button();

		$("#source").change(function() {
			$("#source option:selected").each(function() {
				$("#dest_graph_uri").attr('value', $(this).attr('value'));
			});
		});
		$("#source").change();
	});
</script>
</body>
</html>
