<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("rdfloader/resources")
#load_core_resources
	<title>#i18n("rdfloader.title") - DataLift</title>
#css_links
</head>
<body>
#banner
<div class="ui-widget-content converter_main" id="workspace">
	<h3 class="ui-widget-header dl-widget-header">#i18n("rdfloader.title") - #i18n("project.label") ${it.title}</h3>

	<form id="converter_form" method="post" action="${baseUri}/rdfloader">
                <input type="hidden" name="project" id="project" value="${it.uri}"/>
		<p><label for="source">#i18n("source.to_convert"):</label>
		<select id="source">
#foreach( $curSrc in $it.getSources() )
	#set( $count = 1 )
	#if( $converter.canHandle($curSrc) )
		#foreach( $source in $it.getSources() )
			#if( $source.getType() == $field.TransformedRdfSource && $source.getParent().uri == $curSrc.uri )
				#set( $count = $count + 1 )
			#end
		#end
			<option uri="${curSrc.uri}" name="${curSrc.title}" count="$count">$esc.html($curSrc.title)</option>
	#end
#end
		</select></p>

		<p><label for="dest_title">#i18n("dest.title"):</label>
		<input type="text" name="dest_title" id="dest_title" value=""/></p>

		<p><label for="dest_graph_uri" class="hidden">#i18n("dest.uri"):</label>
		<input type="text" name="dest_graph_uri" id="dest_graph_uri" title="#i18n('dest.graph.help')" value=""/></p>

		<fieldset class="ui-widget ui-widget-content">
			<legend>#i18n("uri.translation.title")</legend>
			<p><label for="uri_translation_src">#i18n("uri.translation.src"):</label>
			<input type="text" name="uri_translation_src" id="uri_translation_src" value=""/>
			<a href="#i18n("regex.help.page")" target="_blank">#i18n("help.label")</a></p>
			<p><label for="uri_translation_dest">#i18n("uri.translation.dest"):</label>
			<input type="text" name="uri_translation_dest" id="uri_translation_dest" value=""/>
			<a href="#i18n("regex.help.page")" target="_blank">#i18n("help.label")</a></p>
		</fieldset>

		<input type="submit" id="source_submit" value="#i18n('submit.label')"/>
	</form>
</div>

#script_links
<script type="text/javascript">
	$(function() {
		$("#source_submit").button();

		$("#source").change(function() {
		 	$("#source option:selected").each(function () {
		 		$("#dest_title").attr("value", $(this).attr('name') + " - (RDF #" + $(this).attr("count") + ")");
				$("#dest_graph_uri").attr("value", $(this).attr("uri") + "-rdf-" + $(this).attr("count"));
		 	});
		 });
		 $("#source").change();
	});
</script>
</body>
</html>
