<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("rdftransformer/resources")
#load_core_resources
	<title>#i18n("rdftransformer.title") - DataLift</title>
#header_links
</head>
<body>
<script>
	var form_base_action = "${baseUri}/rdftransformer?project=${it.uri}";
	
	$(function() {
		$("#source_submit").button();
		$("#source_submit").attr('disabled', true);
		
		$("#source").change(function(){
		 	$("#source option:selected").each(function () {
		 		if ($(this).attr("name") == "") {
		 			$("#converter_form").attr('action', form_base_action);
					$("#source_submit").attr('disabled', true);		 			
		 		}
		 		else {
		 			$("#converter_form").attr('action', form_base_action + "&source=" + $(this).attr('name'));
		 			$("#source_submit").removeAttr('disabled');
		 		}
		 	});
		 });
	});
</script>
#banner
<div class="ui-widget-content" id="workspace">
<h3 class="ui-widget-header dl-widget-header">RDF Transformer - Project ${it.title}</h3>


<form id="converter_form" method="get" action="${baseUri}/rdfconverter?project=${it.uri}">
<label for="source_to_select">#i18n("source.to_convert")</label>
	<select id="source">
		<option name=""></option>
	#foreach($curSrc in $it.getSources())
		#if( $curSrc.getType() == $field.RdfSource || $curSrc.getType() == $field.TransformedRdfSource )
			<option name="${curSrc.uri}">$esc.html($curSrc.title)</option>
		#end
	#end
	</select>
	<input type="submit" id="source_submit" value="#i18n('submit.label')"/>
</form>
</body>
</html>