#load($!module_ressource)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>$!page_title</title>
		<!-- multiple devices -->
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
## ---------------------------- ##
## load core resources
#load_core_resources
## ---------------------------- ##

## ---------------------------- ##
## load Datalift css
#css_links
## ---------------------------- ##

## ---------------------------- ##
## Add additional js content 
$!{addScript}
## ---------------------------- ##

#script_links
	</head>
	<body>
## ---------------------------- ##
## Add header of Datalift
## start of the top bar (logo) + the buttons (goto workspace ...)
#banner
		<div id="main-menu" style="position:absolute;top:15px;right:15px;">
#foreach( $m in $mainMenu )
#set( $entryUrl = $m.getUrl(${baseUri}) )
#if( $m.method.name() == "GET" )
			<a href="${entryUrl}" class="button">${m.label}</a>
#else
			<form method="post" action="${entryUrl}"><input type="submit" class="button" value="${m.label}"/></form>
#end
#end
## end of the top bar (logo) + the button of goto workspace
## ---------------------------- ##
		</div>
		<script type="text/javascript">$("input:submit, .button").button();$("button, .button").button();</script>
		
$screen_content

#footer
		<div style="text-align:right;font-style:italic;font-size:0.8em">
			<span style="color:gray" id="version">Version @full.app.version@</span>
		</div>
		
## set js script
#parse( $script_content )
	</body>
</html>