<script>
	$(function() {
		$("#tabs").tabs();
		$("a.module_can_handle").click(function() {
			jQuery.ajax({
				beforeSend: function(req) {
					req.setRequestHeader("Accept", "text/html");
				},
				url: $(this).attr("href"),
				type:"GET",
				success: successfulQuery,
				error: unsuccessfulQuery
			});
			return false;
		});	
	
		function successfulQuery(response) {
			$("#project_frame").empty();
			$("#project_frame").append(response);
		}

		function unsuccessfulQuery(XMLHttpRequest) {
			alert("An error occured when trying to reach module.");
		}
	});	
</script>

<div id="project_frame">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Description</a></li>
			<li><a href="#tabs-2">Sources</a></li>
		</ul>
		<div id="tabs-1">
			Owner : $it.getOwner()<br/>
			Description: $it.getDescription()
			<div id="module_can_handle">
				<p>Modules available :</p>
				<ol id="selectable_module">
				#foreach ($item in $canHandle)
				<li><a href="${baseUri}/$item.canHandle($it)" class="module_can_handle">$item.getName()</a></li>
				#end
				</ol>
			</div>
		</div>
		<div id="tabs-2">
			<p>Sources available :</p>
			<ol id="selectable_source">
			#foreach($item in $it.getSources())
			<li><a href="${baseUri}/$item.getUrl()">$item.getTitle()</a></li>
			#end
			</ol>
			<br/>
			<a href="$it.getRdfId()/srcupload">Add a new data set</a>
		</div>
	</div>
</div>

