## Global library to centralize templates macros

#macro( header_links )
#h_js_links
#h_favico
#h_bootstrap_links
#h_css_links
#css_links
#end


#macro( load_core_resources )
#load("core/resources")
#end

#macro( h_tetiere )
<!-- ---------------- TETIERE -------------------- -->  #i18n("")
	<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
     	<div class="container-fluid">  
    		<a class="brand" href="#"> <img src="${baseUri}/images/logo_datalift.gif" width="37px"></a>
    		<a class="brand .txt-bottom" href="#">#i18n("title")</a>
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      	</a>
      	<div class="nav-collapse collapse">
        	<ul class="nav pull-right">  
            	<li class="dropdown">
            		<a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href=""><i class="icon-user"></i>Jean Dupont<b class="caret"></b></a>
            		<ul class="dropdown-menu" role="menu" aria-labelledby="drop5">
            			<li><a role="menuitem" href="#MonCompte">#i18n("header.account")</a></li>
            			<li class="divider"></li>
            			<li><a role="menuitem" href="#MonCompte"><i class="icon-off"></i>#i18n("header.deconnexion")</a></li>
            		</ul>
            	</li>
        	</ul>
          	
          	<ul class="nav pull-right menu nav_bar_menu">
              <li id="wiki"><a href="./wikilocal.php">Wiki</a></li>
              <ul class="nav pull-right">  
            	<li class="dropdown">
            		<a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="">#i18n("header.endpoints")<b class="caret"></b></a>
            		<ul class="dropdown-menu" role="menu" aria-labelledby="drop5">
            			<li><a role="menuitem" href="${baseUri}/sparql">#i18n("header.endpoint")</a></li>
            			<li class="divider"></li>
            			<li><a role="menuitem" href="${baseUri}/legacy">#i18n("header.legacy")</a></li>
            		</ul>
            	</li>
        	</ul>
              <li id="projets"><a href="${baseUri}/project">#i18n("header.project")</a></li>
              <li id="catalogues"><a href="#catalogues">#i18n("header.catalogues")</a></li>
              <li id="admin"><a href="#admin">#i18n("header.administration")</a></li>
          </div>
      	</div>
   	</div>
</header>
    <!-- ---------------- FIN TETIERE ---------------- -->
#end

#macro (module_note_css_links)
   	<link href="${baseUri}/bootstrap/external/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="${baseUri}/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="${baseUri}/css/index.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="${baseUri}/css/notes.css">
#end

#macro (module_note_js_scripts)

    <script src="${baseUri}/bootstrap/external/jquery.hotkeys.js"></script>
    <script src="${baseUri}/bootstrap/js/bootstrap.min.js"></script>
    <script src="${baseUri}/bootstrap/external/google-code-prettify/prettify.js"></script>
	<script src="${baseUri}/bootstrap/js/bootstrap-wysiwyg.js"></script>
	<script src="${baseUri}/bootstrap/js/notes.js"></script>
#end

#macro (module_note)
<!-- ---------------- NOTES -------------------- -->
<div class="container">
  
<div id="notes" style="z-index: 1000">
  <span class="nav">
    <a href="#" class="pull_notes" title="Cliquez pour prendre des notes">
      <img src="${baseUri}/images/paper_document.png" alt="tioto">
    </a>
  </span>

  <div class="hero-unit" >
  
  

  	<div id="alerts"></div>
    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
          </ul>
        </div>
     <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
          </ul>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
      </div>
    </div>

    <div id="editor" contenteditable="true">
      Go ahead&hellip;
    </div>

<script>
  $(function(){
    function initToolbarBootstrapBindings() {
      var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier', 
            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
            'Times New Roman', 'Verdana'],
            fontTarget = $('[title=Font]').siblings('.dropdown-menu');
      $.each(fonts, function (idx, fontName) {
          fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
      });
      $('a[title]').tooltip({container:'body'});
      $('.dropdown-menu input').click(function() {return false;})
        .change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
        .keydown('esc', function () {this.value='';$(this).change();});

      $('[data-role=magic-overlay]').each(function () { 
        var overlay = $(this), target = $(overlay.data('target')); 
        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
      });
      if ("onwebkitspeechchange"  in document.createElement("input")) {
        var editorOffset = $('#editor').offset();
        $('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+$('#editor').innerWidth()-35});
      } else {
        $('#voiceBtn').hide();
      }
  };
  function showErrorAlert (reason, detail) {
    var msg='';
    if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
    else {
      console.log("error uploading file", reason, detail);
    }
    $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
     '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
  };
    initToolbarBootstrapBindings();  
  $('#editor').wysiwyg({ fileUploadError: showErrorAlert} );
    window.prettyPrint && prettyPrint();
  });
</script>
<a href="#" class="btn" ng-click="testNotemodule()">Save</a>
  </div>
</div>
</div>
  <!-- ---------------- FIN NOTES ---------------- -->
#end

#macro (h_footer)
<!-- ---------------- FOOTER -------------------- -->
<footer class="footer navbar-fixed-bottom navbar-inner">
    <div class="">	
       	<div style="text-align: center;" class="row">
   	   		<a style="color : #0094D6;" href="http://www.datalift.org">#i18n("title")</a>
	   		<p id="version">#i18n("footer.version") @app.version@</p>
       	</div>
	</div>
</footer>
<!-- ---------------- FIN FOOTER -------------------- -->
#end

#macro (h_favico)
	<link rel="shortcut icon" href="${baseUri}/bootstrap/assets/ico/favicon.ico">
#end

#macro(h_bootstrap_links)
	<link type="text/css" rel="stylesheet" href="${baseUri}/bootstrap/css/bootstrap.min.css">
  	<link type="text/css" rel="stylesheet" href="${baseUri}/bootstrap/css/bootstrap-responsive.min.css">
#end

#macro (h_css_links)
	<link type="text/css" rel="stylesheet" href="${baseUri}/bootstrap/css/datalift.css">
	<link type="text/css" rel="stylesheet" href="${baseUri}/bootstrap/css/notes.css">
#end

#macro(h_js_links)
	<script src="${baseUri}/bootstrap/js/jquery.min.js"></script>    
    <script src="${baseUri}/bootstrap/js/bootstrap.min.js"></script>    
    <script src="${baseUri}/bootstrap/js/easing.js"></script> 
    <script src="${baseUri}/bootstrap/js/datalift.js"></script>
    <script src="${baseUri}/js/angular.min.js"></script>
    <script src="${baseUri}/js/angular-bootstrap-prettify.min.js"></script>
    <script src="${baseUri}/js/angular-bootstrap.min.js"></script>
    <script src="${baseUri}/js/angular-cookies.min.js"></script>
    <script src="${baseUri}/js/angular-loader.min.js"></script>
    <script src="${baseUri}/js/angular-mocks.js"></script>
    <script src="${baseUri}/js/angular-resource.min.js"></script>
    <script src="${baseUri}/js/angular-sanitize.min.js"></script>
    <script src="${baseUri}/js/angular-scenario.js"></script>
    <script src="${baseUri}/js/controllers.js"></script>
#end

#macro( css_links )
	
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<link rel="icon" type="image/ico" href="${baseUri}/images/semantic-web.ico"/>
	<link rel="stylesheet" type="text/css" href="${baseUri}/wro/main.css"/>
#end

#macro( script_links )
	<!-- JQuery + JQuery UI -->
	<script language="javascript" src="${baseUri}/js/jquery/jquery.min.js"></script>
	<script language="javascript" src="${baseUri}/js/jquery/jquery-ui.js"></script>
	<script src="${baseUri}/js/jquery-migrate-1.0.0.js"></script>
	<!-- JQuery Plugins -->
	<script language="javascript" src="${baseUri}/js/jquery/jquery.jqGrid.locale-en.js"></script>
	<script language="javascript" src="${baseUri}/js/jquery/jquery.jqGrid.js"></script>
	<script language="javascript" src="${baseUri}/js/jquery/jquery.history.js"></script>
	<!-- Datalift common javascript -->
	<script language="javascript" src="${baseUri}/js/common.js"></script>
#end