<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="OntoMapper">
	<head>
#load("mapper/resources")
#load_core_resources
#set( $moduleUri = "$baseUri/mapper" )
		<title>#i18n("ontology.mapper.title") - Datalift</title>
		<meta name="description" content="#i18n('ontology.mapper.description')">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" media="screen">
		<link rel="stylesheet" href="http://ivaynberg.github.com/select2/select2-3.2/select2.css"/>
		<link rel="stylesheet" href="${moduleUri}/static/lib/angularui/css/angular-ui.css">
		<link rel="stylesheet" href="${moduleUri}/static/css/datalift.css">
		<link rel="stylesheet" href="${moduleUri}/static/css/mapper.css">

		<!-- fav and touch icons -->
		<link rel="shortcut icon" href="${moduleUri}/static/favicon.ico">
		<link rel="apple-touch-icon" href="${moduleUri}/static/datalift.png">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
  <body ng-controller="AppCtrl">
  	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Datalift - Ontology Mapper</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="${it.uri}">Back to project</a></li>
        </ul>
  	</nav>
  	<div class="container">
			<ul class="wizard">
				<li ng-class="getStepClass(step.num)" ng-repeat="step in steps"><a ng-href="{{step.link}}"><span class="step-number">{{step.num}}</span> {{step.name}}</a></li>
			</ul>
		  
		  <div ng-view>
		  </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <p class="navbar-text">
            #i18n("footer.more_info") <a href="http://www.datalift.org/">http://www.datalift.org/</a>
        </p>
    </nav>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>
		<script src="${moduleUri}/static/lib/angularui/js/angular-ui.js"></script>
		<script src="${moduleUri}/static/lib/ui-bootstrap/ui-bootstrap-tpls-0.5.0.min.js"></script>
		<script src="${moduleUri}/static/js/mapperClasses.js"></script>
		<script>
angular.module('OntoMapper', ['ui.bootstrap', 'ui.directives']).
    config(['$routeProvider', function($routeProvider) {
    $routeProvider.
        when('/select-source', {
            templateUrl: '$!{moduleUri}/static/partials/select-source.html',
            controller: SelectSourceCtrl}).
        when('/mapping-lov/', {
            templateUrl: '$!{moduleUri}/static/partials/mapping.html',
            controller: MappingLovCtrl}).
        when('/mapping-project/', {
            templateUrl: '$!{moduleUri}/static/partials/mappingProject.html',
            controller: MappingProjectCtrl}).
        when('/convert/', {
            templateUrl: '$!{moduleUri}/static/partials/convert.html',
            controller: ConvertCtrl}).
        otherwise({redirectTo: '/select-source'});
}]).
    service('Shared', function($rootScope) {
        var sharedService = {};
        
        var sources = [
        #foreach( $s in $it.sources )#if( $s.type == $srcType )
                { uri:"$esc.javascript($!{s.targetGraph})",
                title:"$esc.javascript($!{s.title})" },#end
        #end ];
              var ontologies = [
        #foreach( $o in $it.ontologies )
                { uri:"$esc.javascript($!{o.source})",
                title:"$esc.javascript($!{o.title})" },
        #end ];
        
        
        sharedService.baseUri = "$!{baseUri}";
        sharedService.projectUri = "$!{it.uri}";
        sharedService.moduleUri = "$!{moduleUri}";
        sharedService.sources = sources;
        sharedService.selectedSource = "";
        sharedService.ontologies = ontologies;
        sharedService.currentStep = 1;
        sharedService.mappings = [];
        
        sharedService.getMappings = function() {
            return mappings;
        };
        
        sharedService.setMappings = function(value) {
            mappings = value;
        };
        
        sharedService.broadcastCurrentStep = function(step) {
            this.currentStep = step;
            $rootScope.$broadcast('handleCurrentStep');
        };
        
        return sharedService;
}).
    directive('tabs', function() {
        return {
            restrict: 'E',
            transclude: true,
            scope: {},
            controller: function($scope, $element) {
                var panes = $scope.panes = [];

                $scope.select = function(pane) {
                    angular.forEach(panes, function(pane) {
                        pane.selected = false;
                    });
                    pane.selected = true;
                }

                this.addPane = function(pane) {
                    if (panes.length == 0) $scope.select(pane);
                    panes.push(pane);
                }
            },
            template:
                '<div class="tabbable">' +
                    '<ul class="nav nav-tabs">' +
                        '<li ng-repeat="pane in panes" ng-class="{active:pane.selected}">'+
                            '<a href="" ng-click="select(pane)">{{pane.title}}</a>' +
                        '</li>' +
                    '</ul>' +
                    '<div class="tab-content" ng-transclude></div>' +
                '</div>',
                replace: true
        };
}).
    directive('pane', function() {
    return {
        require: '^tabs',
        restrict: 'E',
        transclude: true,
        scope: { title: 'bind' },
        link: function(scope, element, attrs, tabsCtrl) {
            tabsCtrl.addPane(scope);
        },
        template:
            '<div class="tab-pane" ng-class="{active: selected}" ng-transclude>' +
            '</div>',
            replace: true
    };
});
		</script>
		<script src="${moduleUri}/static/js/appCtrl.js"></script>
		<script src="${moduleUri}/static/js/selectSourceCtrl.js"></script>
		<script src="${moduleUri}/static/js/mappingLovCtrl.js"></script>
		<script src="${moduleUri}/static/js/mappingProjectCtrl.js"></script>
		<script src="${moduleUri}/static/js/convertCtrl.js"></script>
	</body>
</html>
