<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>UI Sample - DataLift</title>
#css_links
  </head>
  <body>
#banner

    <h2>Historique</h2>
    <div id="panel">
      <form id="filter-form" name="filter-form" method="get" action="#">
	<input type="radio" name="filter-radio" value="ALL" checked/> All
	<input type="radio" name="filter-radio" value="NEW" /> New
	<input type="radio" name="filter-radio" value="RUNNING" /> Running
	<input type="radio" name="filter-radio" value="COMPLETE" /> Complete
	<input id="filter-submit" type="submit" value="refresh">
      </form>
    </div>

    <table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 

      <form id="addprocess" name="filter-form" method="get" action="http://localhost:9091/mymodule/addprocess">
	<input id="addprocess-submit" type="submit" value="Add a 10s process.">
      </form>


#script_links
    <script type="text/javascript">

	function optionalLinkFormatter(cellvalue, options, rowObject){
	    if(cellvalue.substring(0,5)=="http:"){
		return "<a href=" + cellvalue + ">" + cellvalue + "</a>";
	    }else{
		return cellvalue;
	    }
	}

	// var request = "SELECT+*+WHERE+%7B%0A++%3Fs+a+%3Chttp%3A%2F%2Fwww.datalift.org%2Fcore%23TransformationEvent%3E+%3B%0A++%3Chttp%3A%2F%2Fwww.datalift.org%2Fcore%23eventStatus%3E+%3Fstatus+%3B%0A++%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fprov%23startedAtTime%3E+%3Fsubmitted+%3B%0A++%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fprov%23endedAtTime%3E+%3FendDate+.%0A%7D";
	// var request = "SELECT+*+WHERE+%7B%0D%0A++%3Fs+a+%3Chttp%3A%2F%2Fwww.datalift.org%2Fcore%23TransformationEvent%3E+%3B+%3Fp+%3Fo+.%0D%0A%7D%0D%0A";

	var baseRequest = 
	"SELECT * WHERE {" +
	   "?s a <http://www.datalift.org/core#TransformationEvent> ;" +
	   "<http://www.datalift.org/core#eventStatus> ?status ;" +
	   "<http://www.w3.org/ns/prov#startedAtTime> ?submitted ." +
	   "OPTIONAL { ?s <http://www.w3.org/ns/prov#endedAtTime> ?endDate . }";

	var requestFilter = "filter(?status = \"";

	var endRequest = "}";

	function displayGrid(request) {
	    $("#list").jqGrid({
		url: "${baseUri}/sparql?query=" + request + "&default-graph-uri=internal&max=1000&grid=true",
		datatype: "json",
		mtype: "GET",
		jsonReader : {
		    root: "rows",
		    head: "head",
		    repeatitems: false,
		    //cell: "SDSD",
		    //id: "0",
		}, 
		colNames:  ["Id", "Status", "Submitted", "End date"],
		colModel: [
		    { name: "s", formatter: optionalLinkFormatter, width: 300 },
		    { name: "status"},
		    { name: "submitted"},
		    { name: "endDate"}
		],
	 	//pager: '#pagernav', 
	 	//caption: $('#searchnav').html(),
	 	//rowNum: 50,
	 	//rownumbers: true,
		//rowList: [50,100,200,500,1000,2000,5000],
		ignoreCase: true,
		gridview: true,
		autowidth: true,
		shrinkToFit: true,
		height: '450'
	    });
	}

	$(function () {
	    var request = encodeURIComponent(
		baseRequest + endRequest
	    );
	    displayGrid(request);
	}); 

	$("#filter-submit").click(function(event) { 
	    event.preventDefault();

	    var radioValue = $("input:radio[name='filter-radio']:checked").val();

	    if (radioValue == "ALL") {
		var encodedRequest = encodeURIComponent(
		    baseRequest + endRequest
		);
	    }
	    else {
		request = baseRequest + "filter(?status = \"" + radioValue + "\")" + endRequest;
		encodedRequest = encodeURIComponent(request);
	    }
	    $("#list").GridUnload()
	    displayGrid(encodedRequest);
	});


    </script>
  </body>
</html>
