<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>UI Sample - DataLift</title>
#css_links
  </head>
  <body>
#banner

    <h2>Tab</h2>
    <div id="demo_widget">
    </div>

#script_links
    <script type="text/javascript">
	$(function() {
        console.log( "ready!" );
        showHistory();
    });

	function showHistory() {
		jQuery.ajax({
			url: "${baseUri}/sparql?query=SELECT+*+WHERE+%7B%0D%0A++%3Fs+a+%3Chttp%3A%2F%2Fwww.datalift.org%2Fcore%23TransformationEvent%3E+%3B+%3Fp+%3Fo+.%0D%0A%7D%0D%0A&default-graph-uri=internal&max=1000&grid=true",
			success: successfulQuery,
	  		error: unsuccessfulQuery
		});
	}
	function successfulQuery(response){
		$("#demo_widget").empty();
		$("#demo_widget").append(response);
	}
	function unsuccessfulQuery(XMLHttpRequest){
		alert("Error while requesting Widget");
	}
    </script>
  </body>
</html>
