<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>UI Sample - DataLift</title>
#css_links
  </head>
  <body>
#banner
    <div id="demo">
      <div id="widget_list">
        <ul>
          <li><a class="widget_link" href="#draggable" value="draggable">Draggable widget</a></li>
          <li><a class="widget_link" href="#dropable" value="dropable">Dropable widget</a></li>
          <li><a class="widget_link" href="#resizable" value="resizable">Resizable widget</a></li>
          <li><a class="widget_link" href="#sortable" value="sortable">Sortable widget</a></li>
          <li><a class="widget_link" href="#autocomplete" value="autocomplete">Autocomplete widget</a></li>
          <li><a class="widget_link" href="#button" value="button">Button widget</a></li>
          <li><a class="widget_link" href="#datepicker" value="datepicker">Datepicker widget</a></li>
          <li><a class="widget_link" href="#dialog" value="dialog">Dialog widget</a></li>
        </ul>
      </div>
    </div>
    <div id="demo_widget">
    </div>

#script_links
    <script type="text/javascript">
	// First page loading
	loadHistorizedWidget();
	// State change when using page
	$(window).bind('popstate', function() {
		showHistory();
	});

	function showHistory() {
		jQuery.ajax({
			url: "${baseUri}/sparql?query=SELECT...&default-graph-uri=internal&grid=true",
			success: successfulQuery,
	  		error: unsuccessfulQuery
		});
	}
	function successfulQuery(response){
		$("#demo_widget").empty();
		$("#demo_widget").append(response);
	}
	function unsuccessfulQuery(XMLHttpRequest){
		alert("Error while requesting Widget");
	}
    </script>
  </body>
</html>
