<div class="row">
	<div class="col-md-4">
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Source properties ({{sourceName}})</h3>
			</div>
			<div class="panel-body list-group">
				<div ng-show="loadingPredicates">
					<img ng-src="{{barLoaderSrc}}"/>
				</div>
				<div ng-show="hasPredicates()">
					<select
						ui-select2
						style="width:100%"
						ng-model="selectedPredicateId"
						data-placeholder="Select a property to match">
						<option value=""></option>
						<option ng-repeat="predicate in sourcePredicates | orderBy:name" value="{{predicate.name}}">{{predicate.name}}</option>
					</select>
				</div>
				<div ng-hide="hasPredicates()">
					<span ng-hide="loadingPredicates">No property to match.</span>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Suggested matches</h3>
			</div>
			<div class="center-content" ng-show="suggesting">
				<img ng-src="{{suggestLoaderSrc}}"/>
			</div>
			<table class="table" ng-hide="suggesting">
				<thead>
					<tr>
						<th>Source</th>
						<th>Target</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="suggestion in suggestions"
							tooltip="{{suggestion.targetVocabulary}}"
							tooltip-placement="left"
							tooltip-animation="false">
						<td>{{suggestion.source}}</td>
						<td>{{suggestion.targetPrefixed}}</td>
						<td><button class="btn btn-default btn-xs" ng-click="addSuggestedMapping(suggestion)"  ng-disabled="!hasPredicate(suggestion.sourceUri)">
							<span class="glyphicon glyphicon-plus"></span>
						</button></td>
					</tr>
				</tbody>
			</table>
			<!--button 
					style="margin-top:10px"
					class="btn btn-default btn-lg" type="button"
					ng-click="autoMapping()"
					ng-hide="suggestDone"
					ng-disabled="autoMappingDisabled()">
					<span class="glyphicon glyphicon-cog"></span>
			</button-->
		</div>
		
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Target property</h3>
			</div>
			<div class="panel-body">
				<ul id="selectionTabs" class="nav nav-tabs nav-justified">
					<li ng-class="{pointer: true, active: isTabSelected(0)}" ng-click="selectTab(0)"><a>Match to LOV</a></li>
					<li ng-class="{pointer: true, active: isTabSelected(1)}" ng-click="selectTab(1)"><a>Match to project ontologies</a></li>
				</ul>
				<div id="search" class="tab-content" ng-show="isTabSelected(0)">
					<!-- search bar -->
					<div class="input-group search-bar">
						<input type="text" class="form-control"
							ng-model="searchQuery"
							value="{{searchQuery}}"
							placeholder="Find a LOV match">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"
								ng-click="searchLovProperties()">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					<!-- filter -->
					<div class="filter">
						<label for="vocabularySpaceFilter">Vocabulary space</label>
						<select
							id="vocabularySpaceFilter"
							ui-select2
							style="width:33%"
							ng-model="vocSpaceFilter"
							data-placeholder="Filter vocabulary space"
						>
							<option ng-repeat="vocSpace in vocSpaces" value="{{vocSpace.shortTitle}}">{{vocSpace.title}}</option>
						</select>
						<button class="btn btn-default btn-xs" 
							ng-show="vocSpaceFiltered()" 
							ng-click="resetVocSpaceFilter()"
						>
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>

					<!-- results -->
					<div class="center-content">
						<img ng-src="{{searchLoaderSrc}}" ng-show="searchingLov"/>
					</div>
					<span ng-hide="searchingLov">{{lovResultsText()}}</span>
					<table class="table" ng-show="hasResults()">
						<thead>
							<tr>
								<th>Predicate</th>
								<th>Vocabulary Space</th>
								<th>Score ( /100)</th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td colspan="4" style="margin:0">
									<div id="pager" ng-show="hasResults()">
										<pagination
											boundary-links="true"
											max-size="10"
											num-pages="noOfPages()"
											current-page="currentPage"
											previous-text="&lsaquo;"
											next-text="&rsaquo;">
										</pagination>
									</div>
								</td>
							</tr>
						</tfoot>
						<tbody>
							<tr ng-repeat="result in pageContent()">
								<td>{{result.uriPrefixed}}</td>
								<td ng-click="setVocSpaceFilter(result)"><a class="pointer">{{getFirstVocSpace(result)}}</a></td>
								<td>{{formatLovScore(result)}}</td>
								<td><button class="btn btn-default btn-xs" ng-click="addMapping(result)"><span class="glyphicon glyphicon-plus"></span></button></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div id="explore" class="tab-content" ng-show="isTabSelected(1)">
					<!-- filters -->
					<div class="form-group">
						<input
							type="text"
							class="form-control search-bar"
							id="ontologyFilterInput"
							ng-model="ontologyStringFilter"
							placeholder="Find an ontology match">
						<input
							id="projectDatatypeRadio"
							type="radio"
							ng-model="projectPropertyType"
							value="DatatypeProperty">
						<label for="projectDatatypeRadio"> Datatype properties</label>
						<input
							id="projectObjectRadio"
							type="radio"
							ng-model="projectPropertyType"
							value="ObjectProperty">
						<label for="projectObjectRadio"> Object properties</label>
					</div>

					<!-- explorer -->
					<!-- "item in filtered = (items | filter:filterExpr)" -->
					<div
						class="ontologyTree"
						ng-repeat="ontology in loadedOntologies">
						<span ng-class="ontologyTreeClass(ontology.uri)"></span>
						<span ng-click="changeVisibility(ontology.uri)">
							{{ontology.name}} ({{filteredOntology.length}})
						</span>
						<div class="ontologyTree-content"
							ng-show="isVisible(ontology.uri)">
							<table class="table">
								<tr tooltip="{{property.desc}}"
									tooltip-placement="bottom"
									tooltip-animation="false"
									ng-repeat="property in filteredOntology = (ontology.properties | filter:projectPropertiesFilter)">
									<td>{{property.name}}</td>
									<td>
										<button
											class="btn btn-default btn-xs"
											ng-click="addProjectMapping(ontology, property)"
											ng-disabled="noPredicateSelected()"
										>
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				
			</div>
			<!-- /panel-body -->
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Selected matches</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Source</th>
						<th>Target</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mapping in mappings">
						<td>{{mapping.source}}</td>
						<td>{{mapping.targetPrefixed}}</td>
						<td><button class="btn btn-danger btn-xs" ng-click="removeMapping(mapping)"><span class="glyphicon glyphicon-trash"></span></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- col-md-9 -->
	<div class="col-md-3">
		<div class="panel panel-default vocab-panel">
			<div class="panel-heading">
				<h3 class="panel-title">Match statistics</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Ontology</th>
						<th>Matches</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(vocab, used) in vocabSummary">
						<td>{{vocab}}</td>
						<td>{{used}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- panel -->
		<button type="button" class="btn btn-primary btn-lg pull-right"
			ng-click="goToClasses()">
			Refine <span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>
	<!-- col-md-3 -->
</div>
