<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="MainLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${info.aduna.logging.dir}/openrdf-sesame.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${info.aduna.logging.dir}/openrdf-sesame.log.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100KB</maxFileSize>
		</triggeringPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="info.aduna.logging.file.logback.StackTracePatternLayout"/>
			<charset>UTF-8</charset>
		</encoder>
		<logreader class="info.aduna.logging.file.logback.FileLogReader" default="true" />
	</appender>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="MainLog" />
	</root>
</configuration>
