<html>
<body>
## clean the old result
## upload the specification file
##$f = $silk.getFile() or #include(".xml")
##$linkConcept = $silk.getString()
##$linkThread = $silk.getInt()
##$linkReload = $silk.getBoolean

## run the SILK
$silk.Run() = SILK(f)

## showing result
$silk.output()

</body>
<html>