#load_core_resources
#load("stringtouri/resources")
##
#set( $moduleUri = "$baseUri/stringtouri")
##
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>#i18n('stringtouri.title') - Datalift</title>
	#css_links
	## Temporary link for dev. purposes.
	## <link rel="stylesheet" type="text/css" href="http://localhost:1337/static/css/stringtouri-interface.css"/>
	#script_links
	    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<!--Angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <!--AngularUI-->
    <link rel="stylesheet" href="${moduleUri}/static/lib/angularui/css/angular-ui.css">
    <script src="${moduleUri}/static/lib/angularui/js/angular-ui.js"></script>
    <!--Twitter Bootstrap-->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
    <script src="${moduleUri}/static/lib/purl/purl.js"></script>
    <!--Select2-->
	<link href="http://ivaynberg.github.com/select2/select2-3.2/select2.css" rel="stylesheet"/>
    <script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>
    <!--FluelUX-->
    <link href=" http://fuelcdn.com/fuelux/2.3/css/fuelux.css" rel="stylesheet" />
    <link href="http://fuelcdn.com/fuelux-imh/2.2/css/fuelux-responsive.css" rel="stylesheet" />
    <script src="http://fuelcdn.com/fuelux-imh/2.2/loader.min.js" type="text/javascript"></script>

    <link href="${moduleUri}/static/css/stringtouri-interface.css" rel="stylesheet"></link>

    <script src="${moduleUri}/static/js/directives.js"></script>
    <script src="${moduleUri}/static/js/app.js"></script>
    <script src="${moduleUri}/static/js/controllers.js"></script>
    <script src="${moduleUri}/static/js/services.js"></script>
    <script src="${moduleUri}/static/js/stringtouri.js"></script>
</head>
<body ng-app="predicateChooserApp">

	<div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>

         <div class="brand">
            <img src="${moduleUri}/static/images/datalift-logo.png"/>
            <H2>
			    <a href="${baseUri}/sparql">Datalift</a><span> / </span>
			    <a href="${it.uri}">${it.title}</a><span> / </span>
			    #i18n("stringtouri.title")
			</H2>
          </div>

          <!-- Links on the right in the navbar. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li><a href="${baseUri}/sparql"><i class="icon-search"></i> #i18n("sparql.endpoint.link")</a></li>
              <li class="divider-vertical"></li>
              <li><a href="${baseUri}/project"><i class="icon-home"></i> #i18n("project.workspace.link")</a></li>
              <li class="divider-vertical"></li>
            </ul>
            <p class="navbar-text">
              <i class="icon-user"></i> #i18n("login.label") <a href="#" class="navbar-link">$esc.html(${securityCtx.userPrincipal})</a>
            </p>
          </div><!-- /nav-collapse -->

        </div>
      </div>
    </div><!-- /navbar -->

    <div class="container-fluid">
    	<div class="row-fluid">
          	<header>
            	<h5>#i18n("stringtouri.description")</h5>

          	</header>
        	</div>

	    <div class="fuelux" ng-controller="SelectionCtrl">
	      	<div id="moduleWizard" class="wizard">
	        	<ul class="steps">
	            	<li data-target="#settings" class="active"><span class="badge badge-info">1</span>#i18n("wizard.settings.label")<span class="chevron"></span></li>
	                <li data-target="#linkingPreview" ><span class="badge">2</span>#i18n("wizard.preview.label")<span class="chevron"></span></li>
	                <li data-target="#save"><span class="badge">3</span>#i18n("wizard.save.label")<span class="chevron"></span></li>

	            </ul>
	            <div class="actions">
	                <button class="btn btn-mini btn-prev" ng-click="enableNextButton()"> <i class="icon-arrow-left"></i>Prev</button>
	                <button class="btn btn-mini btn-next" data-last="Finish"  id="wizard-next" ng-disabled="!canMoveForward"
	                		ng-click="handleStepResult()">
	                	Next<i class="icon-arrow-right"></i></button>
	            </div>
	       	</div>



			<div class="step-content wizard-step" >
		    	<div class="step-pane active" id="settings">			
					<div id="workspace" class="row-fluid">
						<div class="span6">
							<fieldset>
						
								<predicate-chooser module="${moduleUri}"
							                   project="${it.uri}"
							                   class="input-xxlarge"
							                   title="#i18n('modified.label')"
							                   dataset-label="#i18n('dataset.label')"
							                   class-label="#i18n('class.label')"
							                   predicate-label="#i18n('predicate.label')"
							                   dataset-placeholder="#i18n('dataset.info.target')"
							                   class-placeholder="#i18n('class.info.target')"
							                   predicate-placeholder="#i18n('predicate.info.target')"
							                   id={{choosers.source.name}}
							    ></predicate-chooser>

							</fieldset>
						</div>
							
						<div class="span6">
							<fieldset>

								<predicate-chooser module="${moduleUri}"
											title = "#i18n('reference.label')"
						                   project="${it.uri}"
						                   class="input-xxlarge"
						                   dataset-label="#i18n('dataset.label')"
						                   class-label="#i18n('class.label')"
						                   dataset-placeholder="#i18n('dataset.info.source')"
						                   class-placeholder="#i18n('class.info.source')"
						                   predicate-placeholder="#i18n('predicate.info.source')"
						                   predicate-label="#i18n('predicate.label')"
						                   id={{choosers.target.name}}
						                  ></predicate-chooser>
										
							</fieldset>
						</div>
					</div>
					<form class="form-inline footer" name="linkedPredicateForm">
						<label for="linkedPredicate" class = "control-label emphasis">#i18n('interlink.predicate.label')</label>
						<input type="url" id = "linkedPredicate" ng-model="linkingPredicate" class="input-xxlarge" placeholder="#i18n('interlink.predicate.placeholder')" required>
					</form>
				</div>

				<div class="step-pane" id="linkingPreview" >
					<table id = "PreviewResult" data-subject-label="#i18n('rdf.voc.subject')" data-predicate-label="#i18n('rdf.voc.predicate')" 
						data-object-label="#i18n('rdf.voc.object')" class="table table-bordered datagrid">
						<thead>

	   					</thead>

				    	<tfoot>
						    <tr>
						        <th>
						            <div class="datagrid-footer-left" style="display:none;">
						                <div class="grid-controls">
						                    <span><span class="grid-start"></span> - <span class="grid-end"></span> #i18n("pager.of.label") <span class="grid-count"></span></span>
						                    <select class="grid-pagesize">
						                        <option>5</option>
						                        <option>10</option>
						                        <option>20</option>
						                        <option>50</option>
						                    </select>
						                    <span>#i18n("pager.perPage.label")</span>
						                </div>
						            </div>
						            <div class="datagrid-footer-right" style="display:none;">
						                <div class="grid-pager">
						                    <button type="button" class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
						                    <span>#i18n("pager.page.label")</span>

						                    <div class="input-append dropdown combobox">
						                        <input class="span1" type="text">
						                        <button class="btn" data-toggle="dropdown"><i class="caret"></i></button>
						                        <ul class="dropdown-menu"></ul>
						                    </div>
						                    <span>of <span class="grid-pages"></span></span>
						                    <button type="button" class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
						                </div>
						            </div>
						        </th>
						    </tr>
						</tfoot>

					</table>			

				</div>

				<div class="step-pane" id="save" >
					
					<form name="newSourceForm" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="sourceName">Source Name</label>
							<div class="controls">
								<input type="text" id="sourceName" placeholder="Enter the name of the new source" class="span4" required 
									ng-model="sourceName">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="targetURLNew">Target URL</label>
							<div class="controls">
								<input type="url" id="targetURLNew" placeholder="Enter URL to associate the new triples" class="span4" required
									ng-model="targetURLNew">
							</div>
						</div>
						<div class="control-group">
								<label class="control-label" for="sourceDescription">Source Description</label>
								<div class="controls">
									<textarea rows="3" ng-model="sourceDescription" placeholder="Enter the description of the new source" class="span4"></textarea>
								</div>
							</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
	#footer
	
</body>
</html>
