#load_core_resources
#load("stringtouri/resources")
##
#set( $moduleUri = "$baseUri/stringtouri")
##
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>#i18n('stringtouri.title') - Datalift</title>
	#css_links
	## Temporary link for dev. purposes.
	<link rel="stylesheet" type="text/css" href="http://localhost:1337/static/css/stringtouri-interface.css"/>
	## <link rel="stylesheet" type="text/css" href="${moduleUri}/static/css/stringtouri-interface.css"/>
</head>
<body>
	#banner
	<div class="ui-widget-content" id="workspace">
		<h3 class="ui-widget-header dl-widget-header">#i18n('project.label' ${it.title}) &mdash; #i18n('stringtouri.title')</h3>

		<form class="launching-form" id="linkage-form" method="post" action="${moduleUri}?project=${it.uri}">
			
			<fieldset class="ui-widget-content ui-corner-all">
				<legend>#i18n('modified.label')</legend>
				<div class="form-stack ui-state-default ui-corner-top">
					<label for="targetdataset">#i18n('dataset.label')</label>
					<input id="targetdataset" name="targetdataset" type="text" placeholder="#i18n('field.mandatory')" required tabindex="1"/>
					<p class="info"><span class="ui-icon ui-icon-help"></span>#i18n('dataset.info.target') &mdash; #i18n('field.mandatory')</p>
					<p class="help hidden-field-js help-js">#i18n('dataset.help.target')</p>
				</div>
				<div class="form-stack ui-state-default">
					<label for="targetclass">#i18n('class.label')</label>
					<input id="targetclass" name="targetclass" type="text" placeholder="#i18n('field.none')" tabindex="2"/>
					<p class="info"><span class="ui-icon ui-icon-help"></span>#i18n('class.info.target') &mdash; #i18n('field.optional')</p>
					<p class="help hidden-field-js help-js">#i18n('class.help.target')</p>
				</div>
				<div class="form-stack ui-state-default ui-corner-bottom">
					<label for="targetpredicate">#i18n('predicate.label')</label>
					<input id="targetpredicate" name="targetpredicate" type="text" placeholder="#i18n('field.mandatory')" required tabindex="3"/>
					<p class="info"><span class="ui-icon ui-icon-help"></span>#i18n('predicate.info.target') &mdash; #i18n('field.mandatory')</p>
					<p class="help hidden-field-js help-js">#i18n('predicate.help.target')</p>
				</div>
			</fieldset>


			<fieldset class="ui-widget-content ui-corner-all">
				<legend>#i18n('reference.label')</legend>
				<div class="form-stack ui-state-default ui-corner-top">
					<label for="sourcedataset">#i18n('dataset.label')</label>
					<input id="sourcedataset" name="sourcedataset" type="text" placeholder="#i18n('field.mandatory')" required tabindex="4"/>
					<p class="info"><span class="ui-icon ui-icon-help"></span>#i18n('dataset.info.source') &mdash; #i18n('field.mandatory')</p>
					<p class="help hidden-field-js help-js">#i18n('dataset.help.source')</p>
				</div>
				<div class="form-stack ui-state-default">
					<label for="sourceclass">#i18n('class.label')</label>
					<input id="sourceclass" name="sourceclass" type="text" placeholder="#i18n('field.none')" tabindex="5"/>
					<p class="info"><span class="ui-icon ui-icon-help"></span>#i18n('class.info.source') &mdash; #i18n('field.optional')</p>
					<p class="help hidden-field-js help-js">#i18n('class.help.source')</p>
				</div>
				<div class="form-stack ui-state-default ui-corner-bottom">
					<label for="sourcepredicate">#i18n('predicate.label')</label>
					<input id="sourcepredicate" name="sourcepredicate" type="text" placeholder="#i18n('field.mandatory')" required tabindex="6"/>
					<p class="info"><span class="ui-icon ui-icon-help"></span>#i18n('predicate.info.source') &mdash; #i18n('field.mandatory')</p>
					<p class="help hidden-field-js help-js">#i18n('predicate.help.source')</p>
				</div>
			</fieldset>
			<div class="multiple-choices form-stack">
				<input type="submit" id="convert-submit" value="#i18n('submit.label')" tabindex="7"/>
				<input type="radio" id="convert-preview" name="update" value="false" checked="checked"/>
				<label for="convert-preview" title="#i18n('preview.title')">#i18n('preview.label')</label>
				<input type="radio" id="convert-run" name="update" value="true"/>
				<label for="convert-run" title="#i18n('run.title')">#i18n('run.label')</label>
				<a href="#" id="convert-help" class="ui-priority-secondary" title="#i18n('help.title')">#i18n('help.label')</a>
				<a href="${baseUri}/project/${it.title}" id="convert-cancel"  class="ui-priority-secondary" title="#i18n('cancel.title') #i18n('project.workspace.link')" tabindex="8">#i18n('cancel.label')</a>
			</div>

			<fieldset class="help-js hidden-field-js ui-widget-content ui-corner-all">
				<p class="description ">#i18n('stringtouri.description')</p>
			</fieldset>
		</form>
	</div>
	#footer
	#script_links
	<script type="text/javascript">
		var none = "#i18n('field.none')";
		var confirmationMessage = "#i18n('update.confirm')";

		/*
		* Does nothing on the client-side to forbid the two datasets to be identical.
		* Does nothing to filter the possible values once choices are done.
		*/
		var datasets = [
			#foreach( $source in $sources )
			"$source",
			#end
		];

		var ourclasses = [
			#foreach( $class in $classes )
			"$class",
			#end
		];

		var theirclasses = [
			#foreach( $class in $classes )
			"$class",
			#end
		];

		var ourpredicates = [
			#foreach( $predicate in $predicates)
			"$predicate",
			#end
		];

		var theirpredicates = [
			#foreach( $predicate in $predicates )
			"$predicate",
			#end
		];

	</script>
	## Lien temporaire pour le développement.
	<script type="text/javascript" src="http://localhost:1337/static/js/stringtouri-form.js"></script>
	## <script language="javascript" src="${moduleUri}/static/js/stringtouri-form.js"></script>
</body>
</html>
