<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Select a property</h3>
			</div>
			<div class="panel-body list-group">
				<div ng-show="loadingPredicates">
					<img ng-src="{{barLoaderSrc}}"/>
				</div>
				<div ng-show="hasPredicates()">
					<select
						ui-select2
						style="width:100%"
						ng-model="selectedPredicateId"
						data-placeholder="Select a predicate"
					>
						<option value=""></option>
						<option ng-repeat="predicate in sourcePredicates | orderBy:name" value="{{predicate.name}}">{{predicate.name}}</option>
					</select>
				</div>
				<div ng-hide="hasPredicates()">
					<span>No property to map.</span>
				</div>
				<button 
					style="margin-top:10px"
					class="btn btn-default" type="button"
					ng-click="autoMapping()"
					ng-disabled="autoMappingDisabled()">
					<span class="glyphicon glyphicon-cog"> Search all properties</span>
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search LOV</h3>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<input type="text" class="form-control"
						ng-model="searchQuery"
						value="{{searchQuery}}"
						placeholder="Search LOV to find a mapping...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"
							ng-click="searchLovProperties()">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
				<!-- /input-group -->
				<div class="center-content">
					<img ng-src="{{searchLoaderSrc}}" ng-show="searchingLov"/>
				</div>
				<table class="table" ng-show="hasResults()">
					<thead>
						<tr>
							<th>Predicate</th>
							<th>Vocabulary Space</th>
							<th>Score</th>
							<th>Action</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4" style="margin:0">
								<div id="pager" ng-show="hasResults()">
									<pagination
										boundary-links="true"
										num-pages="noOfPages()"
										current-page="currentPage"
										previous-text="&lsaquo;"
										next-text="&rsaquo;">
									</pagination>
								</div>
							</td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="result in pageContent()">
							<td>{{result.uriPrefixed}}</td>
							<td>{{getFirstVocSpace(result)}}</td>
							<td>{{result.score}}</td>
							<td><button class="btn btn-default btn-xs" ng-click="addMapping(result)">Add</button></td>
						</tr>
					</tbody>
				</table>
				<span ng-show="noResults()">No results</span>
			</div>
			<!-- /panel-body -->
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Current mappings</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Source</th>
						<th>Target</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mapping in mappings">
						<td>{{mapping.source}}</td>
						<td>{{mapping.targetPrefixed}}</td>
						<td><button class="btn btn-danger btn-xs" ng-click="removeMapping(mapping)">Remove</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- col-md-9 -->
	<div class="col-md-3">
		<div class="panel panel-default vocab-panel">
			<div class="panel-heading">
				<h3 class="panel-title">Vocabularies overview</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Used</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(vocab, used) in vocabSummary">
						<td>{{vocab}}</td>
						<td>{{used}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- panel -->
		<button type="button" class="btn btn-primary btn-lg pull-right"
			ng-click="goToConvert()">
			Convert <span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>
	<!-- col-md-3 -->
</div>