 <div class="row">
	<div class="col-md-4">
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Source property</h3>
			</div>
			<div class="panel-body list-group">
				<div ng-show="loadingPredicates">
					<img ng-src="{{barLoaderSrc}}"/>
				</div>
				<div ng-show="hasPredicates()">
					<select
						ui-select2
						style="width:100%"
						ng-model="selectedPredicateId"
						data-placeholder="Select a predicate"
					>
						<option value=""></option>
						<option ng-repeat="predicate in sourcePredicates | orderBy:name" value="{{predicate.name}}">{{predicate.name}}</option>
					</select>
				</div>
				<div ng-hide="hasPredicates()">
					<span>No property to map.</span>
				</div>
				<button 
					style="margin-top:10px"
					class="btn btn-default" type="button"
					ng-click="autoMapping()"
					ng-disabled="autoMappingDisabled()">
					<span class="glyphicon glyphicon-cog"></span>Search all properties
				</button>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Suggestions</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>For</th>
						<th>Try</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(vocab, used) in vocabSummary">
						<td>{{vocab}}</td>
						<td>{{used}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Target property</h3>
			</div>
			<div class="panel-body">
				<ul id="selectionTabs" class="nav nav-tabs nav-justified">
					<li ng-class="{active: isTabSelected(0)}" ng-click="selectTab(0)"><a>Search LOV</a></li>
					<li ng-class="{active: isTabSelected(1)}" ng-click="selectTab(1)"><a>Explore project ontologies</a></li>
				</ul>
				<div id="search" class="tab-content" ng-show="isTabSelected(0)">
					<!-- search bar -->
					<div class="input-group">
						<input type="text" class="form-control"
							ng-model="searchQuery"
							value="{{searchQuery}}"
							placeholder="Search LOV to find a mapping...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"
								ng-click="searchLovProperties()">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					<!-- filter -->
					<select
						ui-select2
						style="width:33%"
						ng-model="vocSpaceFilter"
						data-placeholder="Filter vocabulary space"
					>
<!-- 						<option value=""></option> -->
						<option ng-repeat="vocSpace in vocSpaces" value="{{vocSpace.shortTitle}}">{{vocSpace.title}}</option>
					</select>
					<button class="btn btn-default btn-xs" 
						ng-show="vocSpaceFiltered()" 
						ng-click="resetVocSpaceFilter()"
					>
						<span class="glyphicon glyphicon-remove"></span>
					</button>

					<!-- results -->
					<div class="center-content">
						<img ng-src="{{searchLoaderSrc}}" ng-show="searchingLov"/>
					</div>
					<span ng-hide="searchingLov">{{lovResultsText()}}</span>
					<table class="table" ng-show="hasResults()">
						<thead>
							<tr>
								<th>Predicate</th>
								<th>Vocabulary Space</th>
								<th>Score ( /100)</th>
								<th>Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td colspan="4" style="margin:0">
									<div id="pager" ng-show="hasResults()">
										<pagination
											boundary-links="true"
											num-pages="noOfPages()"
											current-page="currentPage"
											previous-text="&lsaquo;"
											next-text="&rsaquo;">
										</pagination>
									</div>
								</td>
							</tr>
						</tfoot>
						<tbody>
							<tr ng-repeat="result in pageContent()">
								<td>{{result.uriPrefixed}}</td>
								<td ng-click="setVocSpaceFilter(result)"><a>{{getFirstVocSpace(result)}}</a></td>
								<td>{{formatLovScore(result)}}</td>
								<td><button class="btn btn-default btn-xs" ng-click="addMapping(result)">Add</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div id="explore" class="tab-content" ng-show="isTabSelected(1)">
					<!-- filters -->
					<div class="form-group">
						<label for="ontologyFilterInput">Search properties</label>
						<input type="text" class="form-control" id="ontologyFilterInput" ng-model="ontologyFilter" placeholder="Filter text...">
					</div>

					<!-- explorer -->
					<!-- "item in filtered = (items | filter:filterExpr)" -->
					<div ng-repeat="ontology in loadedOntologies">
						<span ng-click="changeVisibility(ontology.uri)">{{ontology.name}} ({{filteredOntology.length}})</span>
						<ul ng-show="isVisible(ontology.uri)">
							<li ng-repeat="property in filteredOntology = (ontology.properties | filter:ontologyFilter)">
								<span
									tooltip="{{property.desc}}"
									tooltip-placement="bottom"
									tooltip-animation="false"
								>
									{{property.name}}
								</span>
								<button
									class="btn btn-default btn-xs"
									ng-click="addProjectMapping(ontology, property)"
								>
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<!-- /panel-body -->
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Current mappings</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Source</th>
						<th>Target</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mapping in mappings">
						<td>{{mapping.source}}</td>
						<td>{{mapping.targetPrefixed}}</td>
						<td><button class="btn btn-danger btn-xs" ng-click="removeMapping(mapping)">Remove</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- col-md-9 -->
	<div class="col-md-3">
		<div class="panel panel-default vocab-panel">
			<div class="panel-heading">
				<h3 class="panel-title">Overview</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Used</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(vocab, used) in vocabSummary">
						<td>{{vocab}}</td>
						<td>{{used}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- panel -->
		<button type="button" class="btn btn-primary btn-lg pull-right"
			ng-click="goToConvert()">
			Convert <span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>
	<!-- col-md-3 -->
</div>
