<form class="data-selection" role="form">
	<div ng-class="selectSourceClass()">
		<label for="selectSource">Select source to map</label>
		<select
			id="selectSource"
			class="form-control input-lg"
			ng-model="selectedSource"
			ng-options="s.uri as s.title for s in sources">
			<option value="">-- Choose source --</option>
		</select>
	</div>
</form>
<button 
	id="mapButton"
	type="button"
	class="btn btn-default btn-lg pull-right nav-button"
	ng-disabled="isSourceSelected()"
	ng-click="goToMap()"
	popover-placement="bottom"
	popover-trigger="mouseenter"
	popover="Search and explore ontologies to map predicates.">
	Map properties<span class="glyphicon glyphicon-chevron-right"></span>
</button>
