<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("interconnection/resources")
#load_core_resources
	<title>#i18n("interconnection.title") - DataLift</title>
#css_links
</head>
<body>
#banner
<div class="ui-widget-content converter_main" id="workspace">
	<h3 class="ui-widget-header dl-widget-header">#i18n("RDF Data Sets Interconnection") - #i18n("Project") ${it.title}</h3>
<br>
<br>
OK~~ Data linking completes! 
<br>
please go to the SPARQL endpoint to check the links:
<p><a href="${baseUri}/sparql" id="go_to_sparql" class="button" >#i18n("Go to SPARQL Endpoint")</a></p>
<br>
<br>
</form>

</body>
</html>
