<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("interconnection/resources")
#load_core_resources
	<title>#i18n("interconnection.title") - DataLift</title>
#css_links
</head>
<body>
#banner
<div class="ui-widget-content converter_main" id="workspace">
	<h3 class="ui-widget-header dl-widget-header">#i18n("RDF Data Sets Interconnection") - #i18n("Project") ${it.title}</h3>
	
<form name="input" action="${baseUri}/silk/run-silk?project=$esc.url($it.uri)" method="post" enctype="multipart/form-data">

	<fieldset>
    <legend>Interlink with a SILK script:</legend>

		<p>Upload a SILK script:
		<input type="file" name="silkScript" id="silkScript" value=""/></p>

    </fieldset>
    
<input type="submit" value="Run" />
</form>    

    <br />
    
<form name="input" action="${baseUri}/silk/run-silk_2?project=$esc.url($it.uri)" method="post" enctype="multipart/form-data">

	<fieldset>
    <legend>Interlink with a SILK script:</legend>

		<p>
		<a href="${baseUri}/silk/build-silkscript?project=$esc.url($it.uri)" id="silkScript" color=blue class="button" style="">#i18n("Create a SILK script")</a></p>

    </fieldset>
    
<input type="submit" value="#i18n("Run")" />
</form>    

    <br />
		
<form name="input" action="${baseUri}/silk/run-edoal?project=$esc.url($it.uri)" method="post" enctype="multipart/form-data">
    
    <fieldset>
    <legend>Interlink with an EDOAL file:</legend>
    
    	<p>Ontology alignment file written in EDOAL:
		<input type="file" name="EDOALFile" id="EDOALFile" value=""/></p>

		<p>Source data set (SPARQL endpoint address):
		<input type="text" name="sourcedataset" id="sourcedataset" value=""/></p>

		<p>Target data set (SPARQL endpoint address):
		<input type="text" name="targetdataset" id="targetdataset" value=""/></p>

    </fieldset>

<input type="submit" value="Run" />
</form>

</body>
</html>
