<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#load("interconnection/resources")
#load_core_resources
	<title>#i18n("interconnection.title") - DataLift</title>
#css_links
</head>
<body>
#banner
<div class="ui-widget-content converter_main" id="workspace">
	<h3 class="ui-widget-header dl-widget-header">#i18n("RDF Data Sets Interconnection") - #i18n("Project") ${it.title}</h3>
	
<form name="input" action="${baseUri}/silk/run-silk_2?project=$esc.url($it.uri)" method="post">

		<p><label for="linkSpecId" class="hidden">#i18n("linkSpecId"):</label>
		<input type="text" name="linkSpecId" id="linkSpecId" value=""/></p>

		<p><label for="numThreads">#i18n("numThreads"):</label>
		<input type="text" name="numThreads" id="numThreads" value=""/></p>

		<p><label for="reload" class="hidden">#i18n("reload"):</label>
		<input type="text" name="reload" id="reload" value=""/></p>

<input type="submit" value="Run!" />
</form>

</body>
</html>
