/**
 * StringToURI module cascading stylesheet.
 * @author csuglia
 */


/**
 * ---------------------------------------------------------------------------
 * StringToURI' overall interface.
 */



div.wizard-step {
	margin-top: 20px;
}


form.footer {
	margin-top: 20px;
	margin-bottom: 15px;
}

label.emphasis{
	font-size: 16px;
	margin-right: 10px;
}

input.ng-invalid.ng-dirty {
	color: #FA787E;
	border: 1px solid #f00;
}
