<?xml version="1.0" encoding="UTF-8"?>

<configuration xmlns="http://jakarta.apache.org/log4j/">

  <appender name="defaultLog" class="org.apache.log4j.FileAppender">
    <param name="file" value="${datalift.home}/logs/datalift.log"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern"
             value="%d{ISO8601}|%-5p|%X{Timer}|%X{User}|%X{Path}|%c{1}|%m%n"/>
    </layout>
  </appender>

  <root>
    <level value="debug"/>
    <appender-ref ref="defaultLog"/>
  </root>

</configuration>
