.project {
	width: 30%;
	display: inline-block;
	border: 1px solid #a6c9e2;
	margin: 5px;
	overflow: scroll;
    overflow-x: hidden;
    height: 128px;
}
.project-button {
	width: 100%;
	display: inline-block !important;
	margin: 5px auto;
	border: 1px solid #a6c9e2;
}
.projectInfo h2{
	font-size: 18px !important;
	font-weight: 300 !important;
}
.projectInfo p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #696763;
}
.projectInfo{
	position:relative;
}
.single-project {
	position: relative;
	margin: 10px;
}
.add {
	margin: auto;
	width: 128px;
	display: block;
}
.inline {
	display: inline-block !important;
}
.topbar {
	min-height: 20px !important;
}