<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
## charger des resources propres au module ?
#load_core_resources
#set( $moduleUri = "$baseUri/lovbrowser" )
#set( $title = "lov browser" )
	<title>#i18n($title) - DataLift</title>
#css_links
<link rel="stylesheet" href="${moduleUri}/static/css/ontologyBrowse.css">
</head>
<body>
#banner
  <div id="content" class="ui-widget-content dl-main-panel">
    <h3 class="ui-widget-header dl-widget-header">#i18n("$title")</h3>
  </div>
<div id="content" class="ui-widget-content dl-main-panel">
    <h3 class="ui-widget-header dl-widget-header">Lov Table</h3>


	<table id="lovtable">
		<thead>
			<tr>
				<th></th>
				<th>Prefix</th>
				<th>Nom</th>
				<th>Url</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
		#set( $cpt = 0 )
		#foreach( $ont in $it )
			<tr>
				<td><input type="checkbox" id="cb${cpt}"/></td>
				<td id="prefix${cpt}">$ont.prefix</td>
				<td>$ont.name</td>
				<td id="uri${cpt}">$ont.url</td>
				<td>$ont.description</td>
				
			</tr>
			#set( $cpt = $cpt + 1 )
		#end	

		</tbody>
	</table>


<form id="LovCatalogue" method="post" action="${baseUri}/lovbrowser/${projectId}/ontologyBrowseUpload">
	<input type="submit" value="submit" />
</form>

<!--
<a href="javascript:sendForm();" class="ui-button ui-state-default ui-corner-all ui-button-text-only submitbt">Submit</a> <a href="javascript:refresh();" class="ui-button ui-state-default ui-corner-all ui-button-text-only submitbt">Refresh</a>
-->
#footer

<script language="javascript" src="${moduleUri}/static/js/libs/jquery.js"></script>
<script language="javascript" src="${moduleUri}/static/js/libs/jquery.dataTables.min.js"></script>
<!--<script language="javascript" src="js/ColReorder.js"></script> -->
<script>
$(document).ready(function() {
    /* Add a click handler to the rows */
	$('#lovtable tr').click( function() {

		var prefix = $(this).children('td:nth-child(2)').html();
		var uri = $(this).children('td:nth-child(4)').html();

		if ( $(this).hasClass('row_selected') ) {
			$(this).removeClass('row_selected');
			$(this).children('td:first-child').children('input').attr('checked', false);
			removeVocab(prefix);
	       	}
		else {
			$(this).addClass('row_selected');
			$(this).children('td:first-child').children('input').attr('checked', true);
			addVocab(prefix, uri);
		}
       } );

       /* Init the table */
    var oTable = $('#lovtable').dataTable({
    							"iDisplayLength": 10,
    							"sPaginationType": "full_numbers",
    							"aoColumnDefs": [
										            { "bSortable": false, "aTargets": [ 0, 3, 4 ] },
	       								 			{ "sWidth": "100px", "aTargets": [ 1 ]  },
	       								 			{ "sWidth": "200px", "aTargets": [ 2 ]  }
       								  ],
    							"bJQueryUI": true,
    							"oLanguage": {
								            "oPaginate": {
								                "sFirst": "First page",
								                "sLast": "Last page",
								                "sNext": "Next page",
								                "sPrevious": "Previous page",
								                "sInfo": "Got a total of _TOTAL_ entries to show (_START_ to _END_)"
								            }
        }

				});

} );

function fnGetSelected() {
    var aReturn = "";
    var aTrs = $('#lovtable').dataTable().fnGetNodes();

    for ( var i=0 ; i<aTrs.length ; i++ )
    {
        if ( $(aTrs[i]).hasClass('row_selected') )        {
        var aData = $('#lovtable').dataTable().fnGetData(aTrs[i]);
        aReturn += aData[1] + ",";
        }
    }
   return aReturn;
}

function addVocab(prefix, uri) {

	var tagPrefixId = "hiddenPrefix" + prefix;
	var tagUriId = "hiddenUri" + prefix;
	$('#LovCatalogue').append('<input type="hidden" id="' + tagPrefixId + '" name="title" value="' + prefix + '" ' + '/' + '>');
	$('#LovCatalogue').append('<input type="hidden" id="' + tagUriId + '" name="source_url" value="' + uri + '" ' + '/' + '>');
}

function removeVocab(prefix) {

	var tagPrefixId = "#hiddenPrefix" + prefix;
	var tagUriId = "#hiddenUri" + prefix;
	$(tagPrefixId).remove();
	$(tagUriId).remove();
}

function sendForm() {
var tablePrefix = fnGetSelected();
document.getElementById('prefixlist').value = tablePrefix;
document.forms["lovtable"].submit();
}

function refresh() {
document.forms["lovtable"].action = "";
document.forms["lovtable"].submit();
}
</script>
</body>
</html>
