[class^="icoblue-"],
[class*=" icoblue-"] {
display: inline-block;
width: 17px;
height: 16px;
*margin-right: .3em;
line-height: 14px;
vertical-align: text-top;
background-image: url("../images/icoblue.png");
background-position: 14px 14px;
background-repeat: no-repeat;
}
[class^="icoblue-"]:last-child,
[class*=" icoblue-"]:last-child {
*margin-left: 0;
}
.icoblue-add-blue{ background-position: 0 0; width: 16px; height: 16px; } 
.icoblue-add{ background-position: -21px 0; width: 16px; height: 16px; } 
.icoblue-add_comment{ background-position: -42px 0; width: 16px; height: 16px; } 
.icoblue-add_mail{ background-position: -63px 0; width: 16px; height: 16px; } 
.icoblue-add_notes{ background-position: -84px 0; width: 16px; height: 16px; } 
.icoblue-add_page{ background-position: -105px 0; width: 16px; height: 16px; } 
.icoblue-add_to_favorite{ background-position: -126px 0; width: 16px; height: 16px; } 
.icoblue-add_user{ background-position: -147px 0; width: 16px; height: 16px; } 
.icoblue-address_book{ background-position: -168px 0; width: 16px; height: 16px; } 
.icoblue-airplane{ background-position: -189px 0; width: 16px; height: 16px; } 
.icoblue-apple{ background-position: -210px 0; width: 16px; height: 16px; } 
.icoblue-approve_comment{ background-position: -231px 0; width: 16px; height: 16px; } 
.icoblue-approve_mail{ background-position: -252px 0; width: 16px; height: 16px; } 
.icoblue-approve_notes{ background-position: -273px 0; width: 16px; height: 16px; } 
.icoblue-approve_page{ background-position: -294px 0; width: 16px; height: 16px; } 
.icoblue-approve_user{ background-position: -315px 0; width: 16px; height: 16px; } 
.icoblue-attach_document{ background-position: -336px 0; width: 16px; height: 16px; } 
.icoblue-attachment{ background-position: -357px 0; width: 16px; height: 16px; } 
.icoblue-back{ background-position: -378px 0; width: 16px; height: 16px; } 
.icoblue-barcode{ background-position: -399px 0; width: 16px; height: 16px; } 
.icoblue-baseball{ background-position: -420px 0; width: 16px; height: 16px; } 
.icoblue-basketball{ background-position: -441px 0; width: 16px; height: 16px; } 
.icoblue-battery{ background-position: -462px 0; width: 16px; height: 16px; } 
.icoblue-battery_charge{ background-position: -483px 0; width: 16px; height: 16px; } 
.icoblue-battery_full{ background-position: -504px 0; width: 16px; height: 16px; } 
.icoblue-battery_low{ background-position: -525px 0; width: 16px; height: 16px; } 
.icoblue-block{ background-position: -546px 0; width: 16px; height: 16px; } 
.icoblue-bluetooth{ background-position: -567px 0; width: 16px; height: 16px; } 
.icoblue-briefcase{ background-position: -588px 0; width: 16px; height: 16px; } 
.icoblue-business_user{ background-position: -609px 0; width: 16px; height: 16px; } 
.icoblue-calculator{ background-position: -630px 0; width: 16px; height: 16px; } 
.icoblue-calendar{ background-position: -651px 0; width: 16px; height: 16px; } 
.icoblue-camcorder{ background-position: -672px 0; width: 16px; height: 16px; } 
.icoblue-card_game_icon{ background-position: -693px 0; width: 16px; height: 16px; } 
.icoblue-chalk_board{ background-position: -714px 0; width: 16px; height: 16px; } 
.icoblue-chart{ background-position: -735px 0; width: 16px; height: 16px; } 
.icoblue-chart_pie{ background-position: -756px 0; width: 16px; height: 16px; } 
.icoblue-check_mark{ background-position: -777px 0; width: 16px; height: 16px; } 
.icoblue-checked{ background-position: -798px 0; width: 16px; height: 16px; } 
.icoblue-clock{ background-position: -819px 0; width: 16px; height: 16px; } 
.icoblue-cloud{ background-position: -840px 0; width: 16px; height: 16px; } 
.icoblue-cloud_comment{ background-position: -861px 0; width: 16px; height: 16px; } 
.icoblue-cloud_download{ background-position: -882px 0; width: 16px; height: 16px; } 
.icoblue-cloud_upload{ background-position: -903px 0; width: 16px; height: 16px; } 
.icoblue-clouds{ background-position: -924px 0; width: 16px; height: 16px; } 
.icoblue-comment{ background-position: -945px 0; width: 16px; height: 16px; } 
.icoblue-comments{ background-position: -966px 0; width: 16px; height: 16px; } 
.icoblue-credit_card{ background-position: -987px 0; width: 16px; height: 16px; } 
.icoblue-cut{ background-position: -1008px 0; width: 16px; height: 16px; } 
.icoblue-database{ background-position: -1029px 0; width: 16px; height: 16px; } 
.icoblue-delete{ background-position: -1050px 0; width: 16px; height: 16px; } 
.icoblue-delete_comment{ background-position: -1071px 0; width: 16px; height: 16px; } 
.icoblue-delete_mail{ background-position: -1092px 0; width: 16px; height: 16px; } 
.icoblue-delete_notes{ background-position: -1113px 0; width: 16px; height: 16px; } 
.icoblue-delete_page{ background-position: -1134px 0; width: 16px; height: 16px; } 
.icoblue-delete_user{ background-position: -1155px 0; width: 16px; height: 16px; } 
.icoblue-directions{ background-position: -1176px 0; width: 16px; height: 16px; } 
.icoblue-dislike{ background-position: -1197px 0; width: 16px; height: 16px; } 
.icoblue-dollar_currency_sign{ background-position: -1218px 0; width: 16px; height: 16px; } 
.icoblue-download{ background-position: -1239px 0; width: 16px; height: 16px; } 
.icoblue-download_page{ background-position: -1260px 0; width: 16px; height: 16px; } 
.icoblue-edit_mail{ background-position: -1281px 0; width: 16px; height: 16px; } 
.icoblue-edit_notes{ background-position: -1302px 0; width: 16px; height: 16px; } 
.icoblue-edit_page{ background-position: -1323px 0; width: 16px; height: 16px; } 
.icoblue-edit_user{ background-position: -1344px 0; width: 16px; height: 16px; } 
.icoblue-euro_currency_sign{ background-position: -1365px 0; width: 16px; height: 16px; } 
.icoblue-exclamination_mark{ background-position: -1386px 0; width: 16px; height: 16px; } 
.icoblue-favorite{ background-position: -1407px 0; width: 16px; height: 16px; } 
.icoblue-favourite_place{ background-position: -1428px 0; width: 16px; height: 16px; } 
.icoblue-favourite_video{ background-position: -1449px 0; width: 16px; height: 16px; } 
.icoblue-filter{ background-position: -1470px 0; width: 16px; height: 16px; } 
.icoblue-first_aid{ background-position: -1491px 0; width: 16px; height: 16px; } 
.icoblue-flag{ background-position: -1512px 0; width: 16px; height: 16px; } 
.icoblue-folder{ background-position: -1533px 0; width: 16px; height: 16px; } 
.icoblue-football{ background-position: -1554px 0; width: 16px; height: 16px; } 
.icoblue-games{ background-position: -1575px 0; width: 16px; height: 16px; } 
.icoblue-gears{ background-position: -1596px 0; width: 16px; height: 16px; } 
.icoblue-handicap{ background-position: -1617px 0; width: 16px; height: 16px; } 
.icoblue-headphones{ background-position: -1638px 0; width: 16px; height: 16px; } 
.icoblue-history{ background-position: -1659px 0; width: 16px; height: 16px; } 
.icoblue-home{ background-position: -1680px 0; width: 16px; height: 16px; } 
.icoblue-hospital{ background-position: -1701px 0; width: 16px; height: 16px; } 
.icoblue-id_card{ background-position: -1722px 0; width: 16px; height: 16px; } 
.icoblue-image{ background-position: -1743px 0; width: 16px; height: 16px; } 
.icoblue-info{ background-position: -1764px 0; width: 16px; height: 16px; } 
.icoblue-key{ background-position: -1785px 0; width: 16px; height: 16px; } 
.icoblue-laboratory{ background-position: -1806px 0; width: 16px; height: 16px; } 
.icoblue-levels{ background-position: -1827px 0; width: 16px; height: 16px; } 
.icoblue-lightbulb{ background-position: -1848px 0; width: 16px; height: 16px; } 
.icoblue-like{ background-position: -1869px 0; width: 16px; height: 16px; } 
.icoblue-link{ background-position: -1890px 0; width: 16px; height: 16px; } 
.icoblue-lock{ background-position: -1911px 0; width: 16px; height: 16px; } 
.icoblue-magic_wand{ background-position: -1932px 0; width: 16px; height: 16px; } 
.icoblue-magnet{ background-position: -1953px 0; width: 16px; height: 16px; } 
.icoblue-mail{ background-position: -1974px 0; width: 16px; height: 16px; } 
.icoblue-map_pin{ background-position: 0 -21px; width: 16px; height: 16px; } 
.icoblue-megaphone{ background-position: -21px -21px; width: 16px; height: 16px; } 
.icoblue-microphone{ background-position: -42px -21px; width: 16px; height: 16px; } 
.icoblue-monitor{ background-position: -63px -21px; width: 16px; height: 16px; } 
.icoblue-mouse{ background-position: -84px -21px; width: 16px; height: 16px; } 
.icoblue-mp3_player{ background-position: -105px -21px; width: 16px; height: 16px; } 
.icoblue-music_note{ background-position: -126px -21px; width: 16px; height: 16px; } 
.icoblue-network{ background-position: -147px -21px; width: 16px; height: 16px; } 
.icoblue-new{ background-position: -168px -21px; width: 16px; height: 16px; } 
.icoblue-newsletter{ background-position: -189px -21px; width: 16px; height: 16px; } 
.icoblue-next{ background-position: -210px -21px; width: 16px; height: 16px; } 
.icoblue-not_available{ background-position: -231px -21px; width: 16px; height: 16px; } 
.icoblue-notes{ background-position: -252px -21px; width: 16px; height: 16px; } 
.icoblue-notes_warning{ background-position: -273px -21px; width: 16px; height: 16px; } 
.icoblue-notification{ background-position: -294px -21px; width: 16px; height: 16px; } 
.icoblue-package{ background-position: -315px -21px; width: 16px; height: 16px; } 
.icoblue-page{ background-position: -336px -21px; width: 16px; height: 16px; } 
.icoblue-page_full{ background-position: -357px -21px; width: 16px; height: 16px; } 
.icoblue-page_settings{ background-position: -378px -21px; width: 16px; height: 16px; } 
.icoblue-page_warning{ background-position: -399px -21px; width: 16px; height: 16px; } 
.icoblue-paint_brush{ background-position: -420px -21px; width: 16px; height: 16px; } 
.icoblue-palette{ background-position: -441px -21px; width: 16px; height: 16px; } 
.icoblue-pencil{ background-position: -462px -21px; width: 16px; height: 16px; } 
.icoblue-phone{ background-position: -483px -21px; width: 16px; height: 16px; } 
.icoblue-phone_book{ background-position: -504px -21px; width: 16px; height: 16px; } 
.icoblue-photo_camera{ background-position: -525px -21px; width: 16px; height: 16px; } 
.icoblue-ping_pong{ background-position: -546px -21px; width: 16px; height: 16px; } 
.icoblue-printer{ background-position: -567px -21px; width: 16px; height: 16px; } 
.icoblue-prize_winner{ background-position: -588px -21px; width: 16px; height: 16px; } 
.icoblue-progress{ background-position: -609px -21px; width: 16px; height: 16px; } 
.icoblue-promotion{ background-position: -630px -21px; width: 16px; height: 16px; } 
.icoblue-protection{ background-position: -651px -21px; width: 16px; height: 16px; } 
.icoblue-question_mark{ background-position: -672px -21px; width: 16px; height: 16px; } 
.icoblue-quote{ background-position: -693px -21px; width: 16px; height: 16px; } 
.icoblue-radio{ background-position: -714px -21px; width: 16px; height: 16px; } 
.icoblue-rain{ background-position: -735px -21px; width: 16px; height: 16px; } 
.icoblue-rain_thunders{ background-position: -756px -21px; width: 16px; height: 16px; } 
.icoblue-refresh{ background-position: -777px -21px; width: 16px; height: 16px; } 
.icoblue-refresh_page{ background-position: -798px -21px; width: 16px; height: 16px; } 
.icoblue-reply_mail{ background-position: -819px -21px; width: 16px; height: 16px; } 
.icoblue-route{ background-position: -840px -21px; width: 16px; height: 16px; } 
.icoblue-rss{ background-position: -861px -21px; width: 16px; height: 16px; } 
.icoblue-rugby_ball{ background-position: -882px -21px; width: 16px; height: 16px; } 
.icoblue-sale{ background-position: -903px -21px; width: 16px; height: 16px; } 
.icoblue-save{ background-position: -924px -21px; width: 16px; height: 16px; } 
.icoblue-search{ background-position: -945px -21px; width: 16px; height: 16px; } 
.icoblue-security{ background-position: -966px -21px; width: 16px; height: 16px; } 
.icoblue-security_warning{ background-position: -987px -21px; width: 16px; height: 16px; } 
.icoblue-send_mail{ background-position: -1008px -21px; width: 16px; height: 16px; } 
.icoblue-settings{ background-position: -1029px -21px; width: 16px; height: 16px; } 
.icoblue-shopping_cart{ background-position: -1050px -21px; width: 16px; height: 16px; } 
.icoblue-smart_phone{ background-position: -1071px -21px; width: 16px; height: 16px; } 
.icoblue-snooker_ball{ background-position: -1092px -21px; width: 16px; height: 16px; } 
.icoblue-snow{ background-position: -1113px -21px; width: 16px; height: 16px; } 
.icoblue-speedometer{ background-position: -1134px -21px; width: 16px; height: 16px; } 
.icoblue-star{ background-position: -1155px -21px; width: 16px; height: 16px; } 
.icoblue-sterling_pound_currency_sign{ background-position: -1176px -21px; width: 16px; height: 16px; } 
.icoblue-sun{ background-position: -1197px -21px; width: 16px; height: 16px; } 
.icoblue-sun_clouds{ background-position: -1218px -21px; width: 16px; height: 16px; } 
.icoblue-sun_clouds_rain{ background-position: -1239px -21px; width: 16px; height: 16px; } 
.icoblue-sun_clouds_thunder{ background-position: -1260px -21px; width: 16px; height: 16px; } 
.icoblue-support{ background-position: -1281px -21px; width: 16px; height: 16px; } 
.icoblue-tag{ background-position: -1302px -21px; width: 16px; height: 16px; } 
.icoblue-target{ background-position: -1323px -21px; width: 16px; height: 16px; } 
.icoblue-television{ background-position: -1344px -21px; width: 16px; height: 16px; } 
.icoblue-tennis_ball{ background-position: -1365px -21px; width: 16px; height: 16px; } 
.icoblue-text_page{ background-position: -1386px -21px; width: 16px; height: 16px; } 
.icoblue-thunders{ background-position: -1407px -21px; width: 16px; height: 16px; } 
.icoblue-tools{ background-position: -1428px -21px; width: 16px; height: 16px; } 
.icoblue-truck{ background-position: -1449px -21px; width: 16px; height: 16px; } 
.icoblue-unlock{ background-position: -1470px -21px; width: 16px; height: 16px; } 
.icoblue-upload{ background-position: -1491px -21px; width: 16px; height: 16px; } 
.icoblue-upload_page{ background-position: -1512px -21px; width: 16px; height: 16px; } 
.icoblue-user{ background-position: -1533px -21px; width: 16px; height: 16px; } 
.icoblue-user_comment{ background-position: -1554px -21px; width: 16px; height: 16px; } 
.icoblue-users{ background-position: -1575px -21px; width: 16px; height: 16px; } 
.icoblue-video{ background-position: -1596px -21px; width: 16px; height: 16px; } 
.icoblue-video_player{ background-position: -1617px -21px; width: 16px; height: 16px; } 
.icoblue-warning{ background-position: -1638px -21px; width: 16px; height: 16px; } 
.icoblue-waste{ background-position: -1659px -21px; width: 16px; height: 16px; } 
.icoblue-wireless{ background-position: -1680px -21px; width: 16px; height: 16px; } 
.icoblue-world{ background-position: -1701px -21px; width: 16px; height: 16px; } 
.icoblue-yen_currency_sign{ background-position: -1722px -21px; width: 16px; height: 16px; } 
.icoblue-zoom_in{ background-position: -1743px -21px; width: 16px; height: 16px; } 
.icoblue-zoom_out{ background-position: -1764px -21px; width: 16px; height: 16px; } 
